<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-7">
            <div class="card-header" *ngIf="afAuth.user | async as user" style=" margin-top: -2.5em;">
              <h4 class="clrs-h1-font">
                <span *ngIf=" myData?.name === null; else showmynaam">
                  <span class="clrs-h4-font" style="color: #333366;">{{ user?.email }}</span>
                </span>
                <ng-template #showmynaam>
                  <span *ngIf="myData.name !== ''; else showmyEmam" class="title card-category" style="color: #333366;">
                    Hi {{ myData?.name }}
                  </span>
                  <ng-template #showmyEmam>
                    <span class="clrs-h4-font" style="color: #333366;">{{ myData?.email }}</span>
                  </ng-template>
                </ng-template>
              </h4>
            </div>
          </div>
          <div *ngIf="getSearch" class="row col-md-5 pull-left" style="padding-top: 15px">
            <div class="col-md-3">
              <button class="btn-link btn-magnify" (click)="displayPt()">Cancel</button>
            </div>
            <div class="col-md-9">
              <div class="input-group pull-left" [ngClass]="{'input-group-focus':focus===true}">
                <input id="input" type="text" class="form-control  pull-left" placeholder="Search..."
                  (keyup)="searchresult()" name="Inputinn" (focus)="focus=true" (blur)="focus=false"
                  [(ngModel)]="value" />
                <div class="input-group-append" type="button" style="height: 35px;">
                  <span class="input-group-text" style="padding-bottom: 7px; padding-left: 10px;"
                    (click)="searchresult()"><i class="nc-icon nc-zoom-split"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!getSearch" class="col-md-5 ml-auto">
            <button class="btn-link btn-magnify input-group-text pull-right"
              style="padding-bottom: 7px; padding-left: 10px;" (click)="gotoSearch()"><i
                class="nc-icon nc-zoom-split"></i></button>
            <button hidden class="btn-link btn-magnify pull-right" (click)="update2()">Update</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="clrs-tabs">
              <div class="nav-tabs-navigation vertical-navs">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs flex-column nav-stacked text-left" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/tasks-24/7" role="tab" (click)="minimizeSidebar()"
                        data-toggle="tab">Dashboard</a>
                    </li><!--  href="#dash" -->
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/standards" role="tab" (click)="minimizeSidebar()"
                        data-toggle="tab">Standards</a>
                    </li><!--  href="#standards" -->
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/set-up" (click)="minimizeSidebar()" role="tab"
                        data-toggle="tab">Setup</a>
                    </li><!--  href="#setup" -->
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/planning" (click)="minimizeSidebar()" role="tab"
                        data-toggle="tab">Planning</a>
                    </li><!--  href="#planning" -->
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/implementation" (click)="minimizeSidebar()" role="tab"
                        data-toggle="tab">Implementation</a>
                    </li><!--  href="#implem" -->
                    <li class="nav-item">
                      <a class="nav-link" (click)="minimizeSidebar()" routerLink="/personal-r" role="tab"
                        data-toggle="tab">Reporting</a>
                      <!--a class="nav-link" href="#reports" (click)="minimizeSidebar()" role="tab" data-toggle="tab">Reporting</a>-->
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-colors" href="#popups" (click)="minimizeSidebar();" role="tab"
                        data-toggle="tab">Diary</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div *ngIf="!getSearch" class="col-lg-9 col-md-8 col-sm-8 col-8 ml-auto mr-auto"
              style="padding-right: 0px;padding-left: 0px;">
              <!--  dash-size  -->
              <div class="tab-content" style="padding-left:0px">
                <div class="tab-pane active" id="implem">
                  <app-implement></app-implement>
                </div>
                <div class="tab-pane" id="reports">
                  <p class="clrs-h1-font" style="margin-top:0em; color:darkslategray">Personal Report...</p>
                  <div class="col-md-12">
                    <div class="card">
                      <!-- <div class="card-header">
                        <h5>Horizontal Tabs</h5>
                      </div> -->
                      <div class="card-body" style="margin-top: -3em">
                        <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-tabs" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#personal" role="tab"
                                  aria-expanded="true">Private</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#public" role="tab"
                                  aria-expanded="false">Public</a>
                              </li>
                              <!-- <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#company" role="tab" aria-expanded="false">Preferences</a>
                              </li> -->
                            </ul>
                          </div>
                        </div>
                        <div id="my-tab-content" class="tab-content text-center">
                          <!-- start Here -->
                          <div class="tab-pane active" id="personal" role="tabpanel" aria-expanded="true">
                            <!-- <code>personal</code> -->
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-12">
                                  <p class="text-left title card-category" style="color: darkslategray">
                                    Many other Reports and Metrics are coming up covering all corners of a project, an
                                    enterprise and personal life
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../PersonalWeeklyPlan-report">My Weekly Plan</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../PersonalDailyPlan-report">My Daily Plan</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../outstandingTask-report">Outstanding Tasks</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../timeSpent-report">Total time spent on an activity in a
                                        period</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../activity-reportLog">Time sheet report in a
                                        period</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../total-actions">My Time Sheet for each day</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../classification-log">My Summarized Time Sheet as @</a></span>
                                  </p>
                                </div>
                              </div>
                            </div> -->



                          </div>
                          <div class="tab-pane" id="public" role="tabpanel" aria-expanded="true">
                            <!-- <code>public</code> -->
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-12">
                                  <p class="text-left title card-category" style="color: darkslategray">
                                    Many other Reports and Metrics are coming up covering all corners of a project, an
                                    enterprise and personal life
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../PersonalWeeklyPlan-report">My Weekly Plan</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../PersonalDailyPlan-report">My Daily Plan</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../outstandingTask-report">Outstanding Tasks</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../timeSpent-report">Total time spent on an activity in a
                                        period</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../activity-reportLog">Time sheet report in a
                                        period</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../total-actions">My Time Sheet for each day</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Here -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="popups">
                  <app-diary></app-diary>
                </div>
              </div>
            </div>
            <div *ngIf="getSearch" class="col-lg-9 col-md-8 col-sm-8 col-8 ml-auto mr-auto"
              style="padding-right: 0px;padding-left: 0px;">
              <ng-container *ngIf="displayTaskList">
                <div *ngIf="value !== ''" class="row">
                  <ng-container *ngIf="results?.length === 0; else showresult">
                    <!-- <ng-container *ngIf="!results ; else showresult"> -->
                    <ng-container *ngIf="value !== '' ; else showresult2">
                      Searching ...... <i class="fa fa-spinner fa-spin fa-2x fa-fw success"></i>
                    </ng-container>
                    <ng-template #showresult2>
                      Tasks Found: {{ results?.length }}
                    </ng-template>
                  </ng-container>
                  <ng-template #showresult>
                    Tasks Found: {{ results?.length }}
                  </ng-template>
                  <table class="table table-striped category">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="category"><small>Task</small> </th>
                        <th scope="col" class="category"><small>Champion</small></th>
                        <th scope="col" class="text-right category"><small>Project</small></th>
                        <th scope="col" class="text-right category"><small>Enterprise</small></th>
                        <th scope="col" class="text-right category"><small>Complete</small></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let workitem of results">
                        <td class="table td-clrs"><a class="text-primary" (click)="selectTask(workitem)"
                            style="cursor: pointer;">{{ workitem.name }}</a></td>
                        <td class="table td-clrs">{{ workitem.champion.name }}</td>
                        <td class="table td-clrs text-right">{{ workitem.projectName }}</td>
                        <td class="table td-clrs text-right">{{ workitem.companyName }}</td>
                        <ng-container *ngIf="workitem.complete ; else showPcnt">
                          <td class="table td-clrs text-right">{{ workitem.complete }}</td>
                        </ng-container>
                        <ng-template #showPcnt>
                          <td class="table td-clrs text-right">{{ workitem.progress }}%</td>
                        </ng-template>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>
              <ng-container *ngIf="displaytaskActions">
                <h4 *ngIf="setTask?.name" class="clrs-h4-font" style="margin-top: 0px;">
                  <span style="border-bottom-style: ridge;">&nbsp;{{ setTask.name }} subtasks&nbsp;</span>
                </h4>
                <div class="row">
                  <div class="col-md-9">
                    <table class="table table-striped category">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col" class="category"><small>Sub task</small></th>
                          <!-- <th scope="col" class="category"><small>Champion</small></th> -->
                          <th scope="col" class="category"><small>Status</small></th>
                          <th scope="col" class="text-right category"><small>Complete</small></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of mytaskActions | async">
                          <ng-container *ngIf="item.description; else sname">
                            <td class="table td-clrs">
                              <a class="text-primary" style="cursor: pointer;"
                                (click)="selectSub(item)">{{ item.description }}</a>
                            </td>
                          </ng-container>
                          <ng-template #sname>
                            <td class="table td-clrs">
                              <a class="text-primary" style="cursor: pointer;"
                                (click)="selectSub(item)">{{ item.name }}</a>
                            </td>
                          </ng-template>
                          <td class="table td-clrs">{{ item.status }}</td>
                          <td class="table td-clrs text-right">{{ item.complete }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card col-md-3 mr-auto ml-auto">
                    <div class="card-body">
                      <button class="btn-link" *ngIf="!setTask.projectId" data-toggle="modal" data-target="#newSub"><label>Add subtask</label></button><br>
                      <button class="btn-link" (click)="backTask()"><label>Back</label></button><br>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="displaySubtask">
                <div class="row">
                  <div class="col-md-9">
                    <h4 class="clrs-h4-font" style="margin-top: 0px;"><span
                        style="border-bottom-style: ridge;">&nbsp;Edit Subtask&nbsp;</span></h4>
                    <div class="card-body text-left scroll-modalSub">
                      <div class="form-group has-label">
                        <label class="control-label" for="">Name:
                          <span class="star">*</span>
                        </label>
                        <input type="text" class="form-control" name="sdescription" required [(ngModel)]="selectedSub.description">
                      </div>
                      <div class="form-group has-label">
                        <label class="control-label" for="">Type of work:
                          <span class="star">*</span>
                        </label>
                        <input disabled type="text" class="form-control" name="sname" required [(ngModel)]="selectedSub.name">
                      </div>
                      <div class="form-group has-label">
                        <label for="" class="control-label">Task:
                          <span class="star category">*
                            <span *ngIf="!sameEntprise"> Task Does not belong to this Enterprise
                              <span *ngIf="!selectedSub.companyName">{{ selectedSub.companyName }}</span>
                            </span>
                            <span class="col-md-3 pull-right text-right">
                              <a class="text-primary" (click)="revertEditSub()" style="cursor: pointer;">
                                <font size=2>Revert</font>
                              </a>
                            </span>
                          </span>
                        </label>
                        <ng-container *ngIf="!selectedSub.taskName || !selectedSub.taskId">
                          <ng-select [items]="weeklyTasks3 | async" bindLabel="name" id="subTaskTask" name="sstask"
                            placeholder="Select task" (change)="tagTask(edtSubSelectedTask)"
                            [(ngModel)]="edtSubSelectedTask"></ng-select>
                        </ng-container>
                        <input *ngIf="selectedSub.taskName" disabled type="text" class="form-control" name="Task:"
                          [(ngModel)]="selectedSub.taskName" required>
                      </div>
                      <ng-container *ngIf="selectedSub.classification.name === 'Work'; else NotWorkClass">
                        <ng-container *ngIf="!edtSubSelectedTask">
                          <div class="form-group has-label">
                            <label for="" class="control-label">Company:
                              <span class="star">*</span>
                            </label>
                            <ng-select *ngIf="!selectedSub.companyName" [items]="enterprises | async" bindLabel="name"
                              placeholder="Select enterprise" [(ngModel)]="setComp" (change)="selectEnt(setComp)">
                            </ng-select>
                            <input *ngIf="selectedSub.companyName" type="text" disabled class="form-control"
                              name="Company1" [(ngModel)]="selectedSub.companyName" required>
                          </div>
                          <div class="form-group has-label">
                            <label for="" class="control-label">Project:
                              <span class="star">*</span>
                            </label>
                            <ng-select *ngIf="!selectedSub.projectName" [items]="projects | async" bindLabel="name"
                              placeholder="Select project" [(ngModel)]="setPro" (change)="selectProj(setPro)">
                            </ng-select>
                            <input *ngIf="selectedSub.projectName" type="text" disabled class="form-control"
                              name="Project3" [(ngModel)]="selectedSub.projectName" required>
                          </div>
                        </ng-container>
                        <ng-container *ngIf="edtSubSelectedTask">
                          <ng-container *ngIf="!selectedSub.companyName; else elseTemplate1">
                            <div class="form-group has-label">
                              <label for="" class="control-label">Company:
                                <span class="star category">*</span>
                              </label>
                              <ng-select *ngIf="!edtSubSelectedTask.companyName" [items]="enterprises | async"
                                bindLabel="name" placeholder="Select enterprise" [(ngModel)]="setComp"
                                (change)="selectEnt(setComp)"></ng-select>
                              <input *ngIf="edtSubSelectedTask.companyName" disabled type="text" class="form-control"
                                name="Company2" [(ngModel)]="edtSubSelectedTask.companyName" required>
                            </div>
                          </ng-container>
                          <ng-template #elseTemplate1>
                            <div class="form-group has-label">
                              <label for="" class="control-label">Company:
                                <span class="star">*</span>
                              </label>
                              <ng-select *ngIf="!selectedSub.companyName" [items]="enterprises | async" bindLabel="name"
                                placeholder="Select enterprise" [(ngModel)]="setComp" (change)="selectEnt(setComp)">
                              </ng-select>
                              <input *ngIf="selectedSub.companyName" type="text" disabled class="form-control"
                                name="Company3" [(ngModel)]="selectedSub.companyName" required>
                            </div>
                          </ng-template>
                          <ng-container *ngIf="!selectedSub.projectName; else elseTemplate2">
                            <div class="form-group has-label">
                              <label for="" class="control-label">Project:
                                <span class="star">*</span>
                              </label>
                              <ng-select *ngIf="!edtSubSelectedTask.projectName" [items]="projects | async"
                                bindLabel="name" placeholder="Select project" [(ngModel)]="setPro"
                                (change)="selectProj(setPro)"></ng-select>
                              <input *ngIf="edtSubSelectedTask.projectName" disabled type="text" class="form-control"
                                name="Project1" [(ngModel)]="edtSubSelectedTask.projectName" required>
                            </div>
                          </ng-container>
                          <ng-template #elseTemplate2>
                            <div class="form-group has-label">
                              <label for="" class="control-label">Project:
                                <span class="star">*</span>
                              </label>
                              <ng-select *ngIf="!selectedSub.projectName" [items]="projects | async" bindLabel="name"
                                placeholder="Select project" [(ngModel)]="setPro" (change)="selectProj(setPro)">
                              </ng-select>
                              <input *ngIf="selectedSub.projectName" type="text" disabled class="form-control"
                                name="Project2" [(ngModel)]="selectedSub.projectName" required>
                            </div>
                          </ng-template>
                        </ng-container>
                      </ng-container>
                      <ng-template #NotWorkClass>
                        <div class="form-group has-label">
                          <label for="" class="control-label">Classification:
                            <span class="star">*</span>
                          </label>
                          <ng-select *ngIf="!selectedSub.classification" [items]="classifications | async"
                            bindLabel="name" placeholder="Select enterprise" [(ngModel)]="selectedSub.classification">
                          </ng-select><!-- classification -->
                          <input *ngIf="selectedSub.classification" type="text" disabled class="form-control"
                            name="Clased" [(ngModel)]="selectedSub.classification.name" required>
                        </div>
                      </ng-template>
                      <div class="form-group has-label">
                        <label for="" class="control-label">Unit:
                          <span class="star">*</span>
                        </label>
                        <ng-select [items]="SIunits" bindLabel="name" placeholder="{{ selectedSub.unit }}"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="setUnit"></ng-select>
                      </div>
                      <div class="form-group has-label">
                        <label for="" class="control-label">Description:
                          <span class="star">*</span>
                          <textarea class="form-control" placeholder="Type Description" name="Description:" cols="70"
                            rows="auto" [(ngModel)]="selectedSub.description" required></textarea>
                        </label>
                      </div>
                      <div class="form-group has-label">
                        <label for="" class="control-label">
                          <span class="row">
                            <span class="col-md-9">Start Date: <span class="star">*</span></span>
                            <span class="col-md-3 pull-right text-right">
                              <a class="text-primary" (click)="startdateToggle()" style="cursor: pointer;">
                                <font size=2>Change</font>
                              </a>
                            </span>
                          </span>
                        </label>
                        <ng-container *ngIf="!showstCal">
                          <input type="date" class="form-control" name="ssDate:" [(ngModel)]="startDate">
                        </ng-container>
                        <ng-container *ngIf="showstCal">
                          <input disabled type="text" class="form-control" name="Task:"
                            [(ngModel)]="selectedSub.startDate" required>
                        </ng-container>
                      </div>
                      <div class="form-group has-label">
                        <label for="" class="control-label">
                          <span class="row">
                            <span class="col-md-9">Finish Date: <span class="star">*</span></span>
                            <span class="col-md-3 pull-right text-right">
                              <a class="text-primary" (click)="enddateToggle()" style="cursor: pointer;">
                                <font size=2>Change</font>
                              </a>
                            </span>
                          </span>
                        </label>
                        <ng-container *ngIf="!showfhCal">
                          <input type="date" class="form-control" name="sfDate:" [(ngModel)]="endDate">
                        </ng-container>
                        <ng-container *ngIf="showfhCal">
                          <input disabled type="text" class="form-control" name="Task:"
                            [(ngModel)]="selectedSub.endDate" required>
                        </ng-container>
                      </div>
                      <div class="category"> <span class="star">*</span>You are required to fill all fields</div>
                    </div>
                  </div>
                  <div class="card col-md-3 mr-auto ml-auto">
                    <div class="card-body">
                      <button class="btn-link" (click)="seedSub(startDate,endDate)"><label>Save subtask</label></button><br>
                      <button class="btn-link" (click)="dropSub()"><label>Delete subtask</label></button><br>
                      <button class="btn-link" (click)="backActions()"><label>Back</label></button><br>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container>
              </ng-container>
              <ng-container *ngIf="displaytask">
                <div class="row">
                  <div class="card col-md-9 mr-auto ml-auto scroll-modalSub">
                    <h4 *ngIf="setTask?.name" class="clrs-h4-font" style="margin-top: 0px;">
                      <span style="border-bottom-style: ridge;">&nbsp;{{ setTask.name }}&nbsp;</span>
                    </h4>
                    <div class="card-body">
                      <div class="form-group">
                        <label>Task</label>
                        <input type="text" class="form-control"
                          style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="tname"
                          [(ngModel)]="setTask.name" placeholder=" {{ setTask.name }}">
                      </div>
                      <ng-container *ngIf="setTask.classification.name === 'Work'; else elseTemplate">
                        <div class="form-group">
                          <label>Company</label>
                          <input type="text" class="form-control" disabled
                            style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="tcomp"
                            [(ngModel)]="setTask.companyName" placeholder="{{ setTask.companyName }}">
                        </div>
                        <div class="form-group">
                          <label>Project</label>
                          <input type="text" class="form-control" disabled
                            style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="tproj"
                            [(ngModel)]="setTask.projectName" placeholder="{{ setTask.projectName }}">
                        </div>
                        <div class="form-group">
                          <label>Dept</label>
                          <input type="text" class="form-control" disabled
                            style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="tdept"
                            [(ngModel)]="setTask.department" placeholder="{{ setTask.department }}">
                        </div>
                      </ng-container>
                      <ng-template #elseTemplate>
                      <div class="form-group">
                        <label>Classification</label>
                        <input type="text" class="form-control" disabled
                          style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="tclassification"
                          [(ngModel)]="setTask.classification.name" placeholder="{{ setTask.classification.name }}">
                      </div>
                      </ng-template>
                      <div class="form-group">
                        <label>Champion</label>
                        <input type="text" class="form-control" disabled
                          style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="tchamp"
                          [(ngModel)]="setTask.champion.name" placeholder="{{ setTask.champion.name }}">
                      </div>
                      <div class="comments">
                        <h4 *ngIf="setTask?.name" class="clrs-h4-font" style="margin-top: 0px;">
                          <span style="border-bottom-style: ridge;">&nbsp;Comments&nbsp;</span>
                        </h4>
                        <div class="comments form-group">
                          <textarea name="taskComment" id="comments" cols="75" rows="auto" placeholder="Write a comment ....."
                            [(ngModel)]="commentData" (keyup.enter)="comment(commentData)" class="col-md-12 mr-auto ml-auto"></textarea><!--  style="width: 535px;" -->
                        </div>
                        <div *ngIf="setTaskComments">
                          <div class="card-plain" *ngFor="let item of (setTaskComments | async)">
                            <ng-container *ngIf="item.by.id === userId; else showOUser">
                              <div class="row vl3 col-md-12">
                                <label>{{ item.by.name }}</label>
                                <p class="clrs-h4-font col-md-12" style="margin-top:-1.5em;margin-bottom: 0px;"><br>
                                  <font size=2>{{ item.comment }}.</font><br>
                                </p>
                                <hr>
                              </div>
                            </ng-container>
                            <ng-template #showOUser>
                              <div class="row col-md-12 vl3">
                                <label class="text-right col-md-12">{{ item.by.name }}</label>
                                  <p class="text-right clrs-h4-font col-md-12" style="margin-top:-1.5em;margin-bottom: 0px;"><br>
                                    <font size=2>{{ item.comment }}.</font><br>
                                  </p>
                                  <hr>
                                </div>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card col-md-3 mr-auto ml-auto">
                    <div class="card-body" style="padding-left: 0px; padding-right: 0px; padding-top: 10px;">
                      <button *ngIf="!setTask.projectId" class="btn-link" data-toggle="modal" data-target="#newSub">
                        <label>Add subtask</label></button><br>
                      <button class="btn-link" data-toggle="modal" data-target="#addWeekly">
                        <label>Add to Weekly List</label></button><br>
                      <button class="btn-link" (click)="viewTaskActions()"><label>View subtasks</label></button><br>
                      <button class="btn-link" (click)="updateTask()"><label>Save</label></button><br>
                      <button class="btn-link"><label>Delete</label></button><br>
                      <button class="btn-link" (click)="viewList()"><label>Back</label></button><br>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newSub" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="header text-center">
          <h4 *ngIf="selectedTask?.name" class="clrs-h4-font" style="margin-top: 0px;">
            <span class="">Create a new sub-task for
              <span style="border-bottom-style: ridge;">&nbsp;{{ selectedTask.name }}&nbsp;</span>
            </span>
          </h4>
        </div>
        <hr>
        <form class="form-horizontal">
          <div class="col-md-11 ml-auto mr-auto">
            <div class="form-group has-label">
              <label for="" class="control-label">
                  Name: <span class="star">*</span>
              </label>
              <textarea class="form-control" placeholder="Name....." name="Description:" cols="50" rows="auto"
                [(ngModel)]="actionItem.description" required></textarea>
            </div>
            <div class="form-group has-label">
              <label class="control-label" for="">Type of work:
                <span class="star">*</span>
              </label>
              <input type="text" class="form-control" name="sname" required [(ngModel)]="actionItem.name" placeholder="Type of work....">
            </div>
            <div class="form-group has-label">
              <!-- <label for="" class="control-label">Unit:
                <span class="star">*</span>
              </label> -->
              <ng-select [items]="SIunits" bindLabel="name"  placeholder="Unit:*" [ngModelOptions]="{standalone: true}" [(ngModel)]="setUnit"></ng-select>
            </div>
          </div>
        </form>
        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancel</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button *ngIf="actionItem.description" type="button" class="btn btn-success btn-link"
              (click)="newSub(actionItem)" data-dismiss="modal" title="save activity">Save</button>
            <button *ngIf="!actionItem.description" disabled class="btn btn-warning btn-link"
              title="save activity">Waiting <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addWeekly" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="card-header text-center">
          <p class="col-md-8 ml-auto mr-auto col-form-label info" style="color:steelblue">
            <font size=4>{{ selectedTask.name }}</font>
          </p>
        </div>
        <hr>
        <div class="col-md-8 ml-auto mr-auto center">
          <p>Press<span class="text-success"> confirm</span> to add <span
              class="text-warning"><b>{{ selectedTask.name }}</b></span> to your weekly to do list.</p>
        </div>
        <br>
        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Cancel</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="add2Weekly()" data-dismiss="modal"
              title="save activity">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!--  modal-sm -->
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="row">
          <ng-template #showPrompt>
            <div class="col-md-8 ml-auto mr-auto">
              <p>Make comments on <b>{{ (selectedTask)?.name }}</b> task and submit</p>
            </div>
          </ng-template>
        </div>
        <ng-container>
          <!-- *ngIf="showCompanyName; else showPrompt" -->
          <p>Comment <b>{{ selectedTask.name }}</b> task.</p>
        </ng-container>
      </div>
      <div class="modal-body">
        <div class="">
          <textarea name="taskComment" id="comments" cols="50" rows="auto" placeholder="Comment ....."
            [(ngModel)]="comment"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-link btn-link" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-link btn-link" (click)="comment()" data-dismiss="modal">
            Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>