<!-- <div class="main-content"> -->
<div class="">
  <div class="card-body nav-hor-tabs" style="margin-top: -20px">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-colors active" data-toggle="tab" href="#intray" role="tab" aria-expanded="true">
              Things To Do In Tray</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-colors" data-toggle="tab" href="#weekly" role="tab" aria-expanded="true">
              Weekly Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-colors" data-toggle="tab" href="#diary" role="tab"
              aria-expanded="false">Daily Diary</a> <!--  (click)="initDiary()" -->
          </li>
        </ul>
      </div>
    </div>
    <div id="my-tab-content" class="tab-content text-center">
      <div class="tab-pane active" id="intray" role="tabpanel" aria-expanded="true">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="card" style="height: 495px;">
              <div class="card-body text-center" style="padding-top:0px">
                <div class="card-category clrs-h4-font text-left">
                  <p class="pull-left clrs-h1-font">Things To Do In Tray</p>
                  <p class="category pull-left" style="margin-top:-1em">
                    Click on a Task to add to your Weekly To Do.
                  </p>
                </div>
              </div>
              <div class="card-body text-center" style="padding-top:0px">
                <div class="card-body" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;">
                  <div id="accordionTsk" role="tablist" aria-multiselectable="true" class="card-collapse">
                    <div class="card card-plain">
                      <div class="card-header text-left" role="tab" id="headingOutstanding" style="padding-top: 0px;">
                        <a data-toggle="collapse" href="#OutstandingTray" aria-expanded="true" aria-controls="OutstandingTray" title="Click to see Tasks in your In Tray"> <!--  (click)="dataCALL()" -->
                          Outstanding Tasks
                          <i class="nc-icon nc-minimal-down"></i>
                        </a>
                      </div>
                      <div id="OutstandingTray" class="collapse show" role="tabpanel" aria-labelledby="headingOutstanding" data-parent="#accordionTsk">
                        <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
                          <div class="content container scroll-task" style="padding-left: 0px;">
                            <ol *ngFor="let tss of OutstandingTasks"> 
                              <li *ngIf="tss.complete !== true"  style="list-style-type:none;color:steelblue">
                                <!-- <div class="row"> -->
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:slategrey;padding-left: 0px;padding-bottom: 0px">
                                    <!-- <span  [ngClass]="{'text-success' : tss.selectedWeekly == true}">{{ tss.name }} </span> -->
                                    <!-- <span  [ngClass]="{'text-success , strikethrough' : tss.selectedWeekly == true}">{{ tss.name }} </span> -->
                                      <span  [ngClass]="{'strikethrough' : tss.selectedWeekly == true}"> {{ tss.name }} </span>
                                      <span class="label text-warning" style="padding-left : 1em"> <small> {{ tss.when }} </small></span>
                                    </button><br>
                                    <span name="taskDetails">
                                      <span *ngIf="tss.companyName !==''" class="category text-info"> {{ tss.companyName }}</span>
                                      <span *ngIf="tss.projectName !==''" class="category text-warning">; {{ tss.projectName }}</span>
                                      <span class="category text-left text-yellow" *ngIf="tss.companyName === '' && tss.projectName === ''"> {{ tss.classification.name }}</span>
                                      <span class="text-left" *ngIf="tss.companyName !== '' || tss.projectName !== ''">.</span>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button  *ngIf="tss.selectedWeekly == true; else wTkSelect" disabled class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                       title="Add {{ tss.name }} to a week`s tasks">
                                        Add to my Week's tasks
                                      </button>
                                      <ng-template #wTkSelect>
                                        <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                        title="Add {{ tss.name }} to a week`s tasks">
                                          Add to my Week's tasks
                                        </button> 
                                      </ng-template>
                                    </div>
                                  </div>
                                <!-- </div> -->
                              </li>
                            </ol>
                            <p *ngIf="OutstandingTasks.length == 0">No Outstanding Tasks</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain">
                      <div class="card-header text-left" role="tab" id="headingCurrent">
                        <a class="collapsed" data-toggle="collapse" href="#currentTskTray" aria-expanded="false" aria-controls="currentTskTray" title="Click to see Tasks in your In Tray">
                          Current Tasks
                          <i class="nc-icon nc-minimal-down"></i>
                        </a>
                      </div>
                      <div id="currentTskTray" class="collapse" aria-labelledby="headingCurrent" data-parent="#accordionTsk">
                        <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
                          <div class="content container scroll-task" style="padding-left: 0px;">
                            <ol *ngFor="let tss of CurrentTAsks">
                              <li *ngIf="tss.complete !== true" class="" style="list-style-type:none;color:steelblue" >
                                <!-- <div class="row"> -->
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:slategrey;padding-left: 0px;padding-bottom: 0px">
                                      <!-- <span [ngClass]="{'text-success' : tss.selectedWeekly == true}"> {{ tss.name }} </span> -->
                                      <span [ngClass]="{'strikethrough' : tss.selectedWeekly == true}"> {{ tss.name }} </span>
                                      <span class="label text-warning" style="padding-left : 1em"> <small> {{ tss.when }} </small></span>
                                    </button><br>
                                    <span name="taskDetails">
                                      <span *ngIf="tss.companyName !==''" class="category text-info"> {{ tss.companyName }}</span>
                                      <span *ngIf="tss.projectName !==''" class="category text-warning">; {{ tss.projectName }}</span>
                                      <span class="category text-left text-yellow" *ngIf="tss.companyName === '' && tss.projectName === ''"> {{ tss.classification.name }}</span>
                                      <span class="text-left" *ngIf="tss.companyName !== '' || tss.projectName !== ''">.</span>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button *ngIf="tss.selectedWeekly == true; else wTkSelect" disabled class="dropdown-item primary btn-link" rel="tooltip"
                                        (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                        title="Add {{ tss.name }} to a week`s tasks">
                                        Add to my Week's tasks
                                      </button>
                                      <ng-template #wTkSelect>
                                        <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal"
                                          data-target="#dptModal" title="Add {{ tss.name }} to a week`s tasks">
                                          Add to my Week's tasks
                                        </button>
                                      </ng-template>
                                    </div>
                                  </div>
                                <!-- </div> -->
                              </li>
                            </ol>
                            <p *ngIf="CurrentTAsks.length == 0">No Current Tasks</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain">
                      <div class="card-header text-left" role="tab" id="headingUpcoming">
                        <a class="collapsed" data-toggle="collapse" href="#upcoming" aria-expanded="false" aria-controls="upcoming" title="Click to see Tasks in your In Tray">
                          Upcoming Tasks
                          <i class="nc-icon nc-minimal-down"></i>
                        </a>
                      </div>
                      <div id="upcoming" class="collapse" aria-labelledby="headingUpcoming" data-parent="#accordionTsk">
                        <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
                          <div class="content container scroll-task" style="padding-left: 0px;">
                            <!-- Short Term Tasks<br> -->
                          <div class="card-header text-left"> Short Term Tasks</div><br>
                            <ol *ngFor="let tss of ShortTermTAsks">
                              <li class="" *ngIf="tss.complete !== true"  style="list-style-type:none;color:steelblue" >
                                <!-- <div class="row"> -->
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" style="color:slategrey;padding-left: 0px;padding-bottom: 0px">
                                      <span [ngClass]="{'strikethrough' : tss.selectedWeekly == true}"> {{ tss.name }} </span>
                                      <span class="label text-warning" style="padding-left : 1em"> <small> {{ tss.when }} </small></span>
                                    </button><br>
                                    <span name="taskDetails">
                                      <span *ngIf="tss.companyName !==''" class="category text-info"> {{ tss.companyName }}</span>
                                      <span *ngIf="tss.projectName !==''" class="category text-warning">; {{ tss.projectName }}</span>
                                      <span class="category text-left text-yellow" *ngIf="tss.companyName === '' && tss.projectName === ''"> {{ tss.classification.name }}</span>
                                      <span class="text-left" *ngIf="tss.companyName !== '' || tss.projectName !== ''">.</span>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button *ngIf="tss.selectedWeekly == true; else wTkSelect" disabled class="dropdown-item primary btn-link" rel="tooltip"
                                        (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                        title="Add {{ tss.name }} to a week`s tasks">
                                        Add to my Week's tasks
                                      </button>
                                      <ng-template #wTkSelect>
                                        <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal"
                                          data-target="#dptModal" title="Add {{ tss.name }} to a week`s tasks">
                                          Add to my Week's tasks
                                        </button>
                                      </ng-template>
                                    </div>
                                  </div>
                                <!-- </div> -->
                              </li>
                            </ol>
                            <!-- Medium Term Tasks<br> -->
                          <div class="card-header text-left">Medium Term Tasks</div><br>
                            <ol *ngFor="let tss of MediumTermTAsks">
                              <li *ngIf="tss.complete !== true"  class="" style="list-style-type:none;color:steelblue">
                                <!-- <div class="row"> -->
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" style="color:slategrey;padding-left: 0px;padding-bottom: 0px">
                                      <span [ngClass]="{'strikethrough' : tss.selectedWeekly == true}"> {{ tss.name }} </span>
                                      <span class="label text-warning" style="padding-left : 1em"> <small> {{ tss.when }} </small></span>
                                    </button><br>
                                    <span name="taskDetails">
                                      <span *ngIf="tss.companyName !==''" class="category text-info"> {{ tss.companyName }}</span>
                                      <span *ngIf="tss.projectName !==''" class="category text-warning">; {{ tss.projectName }}</span>
                                      <span class="category text-left text-yellow" *ngIf="tss.companyName === '' && tss.projectName === ''"> {{ tss.classification.name }}</span>
                                      <span class="text-left" *ngIf="tss.companyName !== '' || tss.projectName !== ''">.</span>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button *ngIf="tss.selectedWeekly == true; else wTkSelect" disabled class="dropdown-item primary btn-link" rel="tooltip"
                                        (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                        title="Add {{ tss.name }} to a week`s tasks">
                                        Add to my Week's tasks
                                      </button>
                                      <ng-template #wTkSelect>
                                        <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal"
                                          data-target="#dptModal" title="Add {{ tss.name }} to a week`s tasks">
                                          Add to my Week's tasks
                                        </button>
                                      </ng-template>
                                    </div>
                                  </div>
                                <!-- </div> -->
                              </li>
                            </ol>
                            <!-- Long Term Tasks<br> -->
                          <div class="card-header text-left">Long Term Tasks</div><br>                          
                            <ol *ngFor="let tss of LongTermTAsks">
                              <li *ngIf="tss.complete !== true ; else trueActions" class="" style="list-style-type:none;color:steelblue">
                                <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                  <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" style="color:slategrey;padding-bottom: 0px;padding-left: 0px;">
                                    <span [ngClass]="{'strikethrough' : tss.selectedWeekly == true}"> {{ tss.name }} </span>
                                    <span class="label text-warning" style="padding-left : 1em"> <small> {{ tss.when }} </small></span>
                                  </button><br>
                                  <span name="taskDetails">
                                    <span *ngIf="tss.companyName !==''" class="category text-info"> {{ tss.companyName }}</span>
                                    <span *ngIf="tss.projectName !==''" class="category text-warning">; {{ tss.projectName }}</span>
                                    <span class="category text-left text-yellow" *ngIf="tss.companyName === '' && tss.projectName === ''"> {{ tss.classification.name }}</span>
                                    <span class="text-left" *ngIf="tss.companyName !== '' || tss.projectName !== ''">.</span>
                                  </span>
                                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <button *ngIf="tss.selectedWeekly == true; else wTkSelect" disabled class="dropdown-item primary btn-link" rel="tooltip"
                                      (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                      title="Add {{ tss.name }} to a week`s tasks">
                                      Add to my Week's tasks
                                    </button>
                                    <ng-template #wTkSelect>
                                      <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal"
                                        data-target="#dptModal" title="Add {{ tss.name }} to a week`s tasks">
                                        Add to my Week's tasks
                                      </button>
                                    </ng-template>
                                  </div>
                                </div>
                              </li>
                              <ng-template #trueActions>
                                <li class="" style="list-style-type:none;color:steelblue">
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" style="color:slategrey;padding-bottom: 0px;padding-left: 0px;">
                                      <span [ngClass]="{'strikethrough' : tss.selectedWeekly == true}"> {{ tss.name }} </span>
                                      <span class="label text-warning" style="padding-left : 1em"> <small> {{ tss.when }} </small></span>
                                    </button><br>
                                    <span name="taskDetails">
                                      <span *ngIf="tss.companyName !==''" class="category text-info"> {{ tss.companyName }}</span>
                                      <span *ngIf="tss.projectName !==''" class="category text-warning">; {{ tss.projectName }}</span>
                                      <span class="category text-left text-yellow" *ngIf="tss.companyName === '' && tss.projectName === ''">
                                        {{ tss.classification.name }}</span>
                                      <span class="text-left" *ngIf="tss.companyName !== '' || tss.projectName !== ''">.</span>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button *ngIf="tss.selectedWeekly == true; else wTkSelect" disabled class="dropdown-item primary btn-link"
                                        rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                        title="Add {{ tss.name }} to a week`s tasks">
                                        Add to my Week's tasks
                                      </button>
                                      <ng-template #wTkSelect>
                                        <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal"
                                          data-target="#dptModal" title="Add {{ tss.name }} to a week`s tasks">
                                          Add to my Week's tasks
                                        </button>
                                      </ng-template>
                                    </div>
                                  </div>
                                </li>
                              </ng-template>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <div class="card">
              <div class="card-body text-center" style="padding-top:0px">
                <div class="card-category clrs-h4-font text-left">
                  <p class="pull-left">My Weekly To Do List</p>
                  <p class="category pull-left" style="margin-top:-1em"> 
                    Proceed Weekly Calendar to create sub-Tasks.
                  </p>
                </div>
              </div>
              <div class="row impl-flow col-md-12">
                <ol style="list-style-type:none;padding-left: 0px">
                  <li *ngFor="let tss of weeklyTasks | async" style="color:slategray">
                    <div *ngIf="tss.complete !== true" class="col-md-12 card-header text-left" role="tab">
                      <span class="col-md-12">
                        <a class="text-left" aria-current="false">{{ tss.name }}</a><br>
                        <span name="taskDetails" style="padding-left:1em">
                          <span *ngIf="tss.companyName !==''" class="category text-info"> {{ tss.companyName }}</span>
                          <span *ngIf="tss.projectName !==''" class="category text-warning">; {{ tss.projectName }}</span>
                          <span class="category text-left text-yellow" *ngIf="tss.companyName === '' && tss.projectName === ''"> {{ tss.classification.name }}</span>
                          <span class="text-left" *ngIf="tss.companyName !== '' || tss.projectName !== ''">.</span>
                        </span>
                      </span>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="weekly" role="tabpanel" aria-expanded="false">
        <div class="col-md-12 col-sm-12 ml-auto mr-auto">
          <p class="clrs-h4-font text-left" style="margin-top:-1em; color: darkslategrey">Calendar Weekly Activities.</p>
          <p class="category text-left" style="margin-top:-1em">
            These are task classification standard activities and work activities picked for this week's activities
          </p>
        </div>
        <div class="row clrs-h4-font">
          <div class="col-sm-5 text-left" style="padding-left: 29px;">Task List
          </div>
          <div class="col-sm-5" >
            <div class="row">
              <div class="col-sm-6 text-left ma-an">Details</div>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="card-body impl-flow">
          <div id="accordionA" role="tablist" aria-multiselectable="true" class="card-collapse col-md-12">
            <ol style="list-style-type:none;padding-left: 0px" *ngFor="let tss of weeklyTasks | async">
              <li *ngIf="tss.complete !== true" style="color:slategray">
                <div class="row">
                  <div class="col-md-12 col-sm-10 text-left" style="padding-left: 0px;padding-right: 0px;">
                    <div class="card card-plain">
                      <div class="card-header" role="tab" id="heading2">
                        <a class="collapsed" data-toggle="collapse" href="#{{  tss.id  }}" (click)="viewMyTaskActions(tss)" title="Click on Tasks in your In Tray" aria-expanded="false" aria-current="false">
                          <!-- <div class="row"> -->
                            <span class="text-left" style="width: 20em;">{{ tss.name }}</span>
                            <span>
                              <span class="text-left text-info" *ngIf="tss.projectName !== ''">, {{ tss.projectName }}</span>
                              <span class="text-left text-warning" *ngIf="tss.companyName !== ''">, {{ tss.companyName }}</span>
                              <span *ngIf="tss.companyName === '' && tss.projectName === ''">
                                <span *ngIf="tss.classification.name !== ''" class="text-left text-yellow"> {{ tss.classification.name }}</span>
                              </span>
                            </span>
                            <i class="nc-icon nc-minimal-down"></i>
                          <!-- </div> -->
                        </a>
                      </div>
                      <div id="{{  tss.id  }}" class="collapse" data-parent="#accordionA" role="tabpanel"
                        aria-labelledby="heading2">
                        <div class="row card-category clrs-h4-font">
                          <div class="col-sm-3 col-md-3" style="padding-left: 55px;"> <font size= 2>Sub-task</font>
                          </div>
                          <div class="col-sm-6 col-md-7">
                            <div class="row">
                              <div class="col-sm-6 text-left na-an" style="padding-left: 35px;"><font size=2>Start Date</font></div>
                              <div class="col-sm-6 text-left na-an" style="padding-left: 35px;"><font size=2>Finish Date</font></div>
                            </div>
                          </div>
                          <div class="col-sm-2"></div>
                        </div>
                        <div class="card-body">
                          <ol style="list-style-type:none;padding-left: 0px;">
                            <li *ngFor="let item of mytaskActions | async">
                              <div class="row" style="color: darkslategrey">
                                <div class="text-left">
                                  <input style="margin-top: 4px;" name="nchkStd" class="pull-right col-form-label" *ngIf="item.selectedWeekWork == true; else wNCK2" type="checkbox" checked disabled
                                    (change)="setWeekAction($event, item)">
                                  <ng-template #wNCK2>
                                    <input style="margin-top: 4px;" name="nchkStd2" class="pull-right col-form-label" type="checkbox" (change)="setWeekAction($event, item)">
                                  </ng-template>
                                </div>
                                <div class="col-sm-3 pull-left" style="padding-left: 2em">
                                  <!-- <span class="text-left" [ngClass]="{'text-success' : item.selectedWeekWork == true}" name="weekStdName" style="padding-top: 2px; padding-left: 10px; padding-right: 10px"> -->
                                  <span class="text-left" [ngClass]="{'strikethrough' : item.selectedWeekWork == true}" name="weekStdName" style="padding-top: 2px; padding-left: 10px; padding-right: 10px">
                                    <font size=2>{{ item.name }}</font>
                                  </span>
                                </div>
                                <div class="col-sm-8">
                                  <div class="row">
                                    <div class="col-sm-5 text-left"><font size=2>{{ item.startDay }}, {{ item.startDate }}</font></div>
                                    <div class="col-sm-5 text-left"><font size=2>{{ item.endDay }}, {{ item.endDate }}</font></div>
                                    <button class="primary btn-link" (click)="selectEditAction(item)" data-toggle="modal" data-target="#editAction"
                                      style=" padding-top: 0px; padding-bottom: 0px;">
                                      Add date</button>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ol>
                        </div>
                        <button class="btn-link btn-round primary" (click)="selectTask(tss)" data-toggle="modal"
                          data-target="#newAction">
                          <small>Add Sub-task</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="row card-category">
          <div class="col-md-12 col-sm-12">
            <p class="category">Click Add date to add or edit the start and end date for the Sub-task</p>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="diary" role="tabpanel" aria-expanded="false">
        <div class="row card-category clrs-h4-font">
          <div class="col-sm-3 text-left" style="padding-left: 40px;">
            <a class="clrs-h1-font text-left">Daily Diary</a>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-2"><a class="btn btn-primary btn-link a-mycol" (click)="changeDay('previous')">Previous</a></div>
          <div class="col-sm-3 clrs-h4-font text-info">{{ workWeekDay }}, {{ workDay }}</div>
          <div class="col-sm-2"><a class="btn btn-primary btn-link a-mycol" (click)="changeDay('next')">Next</a></div>
        </div>
        <div class="row">
          <div class="col-sm-4 card-header text-left" style="padding-left: 40px;"></div>
          <div class="col-sm-2 card-header text-left" style="padding-left: 1em; padding-right: 0px;"><b>Target Qty</b></div>
          <div class="col-sm-2 card-header text-left" style="padding-left: 0px; padding-right: 0px;"><b>Start time</b></div>
          <div class="col-sm-2 card-header text-left" style="padding-left: 12px; padding-right: 0px;"><b>Finish time</b></div>
          <div class="col-sm-2 card-header text-left"></div>
        </div>
        <div *ngIf="viewDayActions.length !== 0; else showProcessing" class="card-body impl-flow">
          <ng-container>
            <div class="col-sm-12">
              <ul style="list-style-type:none;padding-left: 10px;">
                <li *ngFor="let item of stdArray">
                  <div class="row">
                    <div class="text-left">
                      <input style="margin-top: 4px;" class="pull-right col-form-label" *ngIf=" item.selectedWork == true; else UCK" type="checkbox" checked (change)="setDiary($event, item)">
                      <ng-template #UCK>
                        <input style="margin-top: 4px;" class="pull-right col-form-label" type="checkbox" (change)="setDiary($event, item)">
                      </ng-template>
                    </div>
                    <div class="col-sm-4 text-left">
                      <span class="text-left" [ngClass]="{'text-success' : item.selectedWork == true}" style="padding-top: 2px; padding-left: 10px; padding-right: 10px">
                        <font size=2>{{ item.name }}</font>
                      </span>
                    </div>
                    <div class="row col-md-8 col-sm-8">
                      <div class="col-md-3 col-sm-3" style="padding-left: 5px; padding-right:5px">
                        <div class="form-group">
                          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                            <input type="text" class="form-control panel-boader" [(ngModel)]="item.targetQty" style=" padding-left: 10px; padding-right: 10px; height:2em"
                              placeholder="Enter" rel="tooltip" title="Click and enter todays'arget quantity"/>
                            <div class="input-group-postpend">
                              <span class="input-group-text" style=" padding-left: 10px; padding-right: 10px; height:28px">
                                <small>{{ item.unit }}</small>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-2" style="padding-left: 5px; padding-right:5px">
                        <div class="form-group">
                          <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.start" style=" padding-left: 10px; padding-right: 10px; height:2em"
                            rel="tooltip" title="Click, enter start time" placeholder="Time from" />
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-2" style="padding-left: 5px; padding-right:5px">
                        <div class="form-group">
                          <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.end" style=" padding-left: 10px; padding-right: 10px;  height:2em"
                            rel="tooltip" title="Click, enter end time" placeholder="Time to" /> 
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3" style="padding-left: 5px; padding-right:5px">
                        <div class="btn-group btn-group-toggle">
                          <button class="form-control panel-boader clrs-cell btn-link" style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em"
                              rel="tooltip" title="Click to  update the activity" (click)="addClassActionTime(item)"><small>Save</small></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of viewDayActions">
                  <div class="row">
                    <div class="text-left">
                      <input style="margin-top: 4px;" name="nchk" class="pull-right col-form-label" *ngIf="item.selectedWork == true; else NCK" type="checkbox" checked (change)="setDiaryAction($event, item)">
                      <ng-template #NCK>
                        <input style="margin-top: 4px;" name="nchk2" class="pull-right col-form-label" type="checkbox" (change)="setDiaryAction($event, item)">
                      </ng-template>
                    </div>
                    <div *ngIf="item.name !==''" class="col-sm-4 text-left"> <!-- *ngIf="item.name !==''" -->
                      <span *ngIf="item.projectName !==''; else showSpanDay" [ngClass]="{'text-success' : item.selectedWork == true}" title="Enterprise:{{ item.companyName }}. Project:{{ item.projectName }}">
                        <span class="text-info" *ngIf="item.taskName !==''; else showSpan2"><font size=2>{{ item.taskName }},</font>
                          <span class="category text-yellow"><font size=2> {{ item.name }},</font></span><br>
                          <span class="category"><font size=2> {{ item.companyName }},</font></span>
                          <span class="category"><font size=2> {{ item.projectName }}</font></span>
                        </span>
                      </span>
                      <ng-template #showSpan2>
                          <span class="category text-yellow"><font size=2> {{ item.name }},</font></span><br>
                          <span class="category"><font size=2> {{ item.companyName }},</font></span>
                          <span class="category"><font size=2> {{ item.projectName }}</font></span>
                      </ng-template>
                      <ng-template #showSpanDay>
                        <span *ngIf="item.companyName !== ''; else showSpanD2" [ngClass]="{'text-success' : item.selectedWork == true}" title="Enterprise:{{ item.companyName.name }}. Department:{{ item.department }}">
                          <span class="text-info" *ngIf="item.taskName !==''; else showSpan5"><font size=2>{{ item.taskName }},</font>
                            <span class="category text-yellow"><font size=2> {{ item.name }},</font></span><br>
                            <span class="category"><font size=2> {{ item.companyName }},</font></span>
                          </span>
                          <ng-template #showSpan5>
                            <span class="category text-yellow"><font size=2> {{ item.name }},</font></span><br>
                            <span class="category"><font> {{ item.companyName }},</font></span>
                          </ng-template>
                        </span>
                        <ng-template #showSpanD2>
                          <span title="Champion:{{ item.champion.name }}">
                            <span class="text-info" *ngIf="item.taskName !==''; else showSpan3">{{ item.taskName }},
                              <span class="category text-yellow"><font size=2> {{ item.name }},</font></span>
                              <span class="category text-warning"><font size=2> {{ item.classification.name }}</font></span>
                            </span>
                            <ng-template #showSpan3>
                              <span *ngIf="item.classification !== null ; else showSpan4" >
                                <span class="text-info"><font size=2> {{ item.name }}, </font></span>
                                <span *ngIf="item.classification.name !== null || item.classification.name !== ''" class="category text-warning">
                                  <font size=2><span *ngIf="item.classification.name !== ''"> {{ item.classification.name }},</span></font>
                                </span>
                                <span class="category text-danger"><font size=2> {{ item.type }}</font></span>
                              </span>
                              <ng-template #showSpan4>
                                <span class="text-info"><font size=2>{{ item.name }},</font></span>
                                <span class="category text-danger"><font size=2> {{ item.type }}</font></span>
                              </ng-template>
                            </ng-template>
                          </span>
                        </ng-template>
                      </ng-template>
                    </div>
                    <div class="row col-md-8 col-sm-8">
                      <div class="col-md-3 col-sm-3" style="padding-left: 5px; padding-right:5px">
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                          <input type="text" class="form-control panel-boader" [(ngModel)]="item.targetQty"
                            style=" padding-left: 10px; padding-right: 10px; height:2em" placeholder="Enter" />
                          <div class="input-group-postpend">
                            <span class="input-group-text" style=" padding-left: 10px; padding-right: 10px; height:28px">
                              <small>{{ item.unit }}</small>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-2" style="padding-left: 5px; padding-right:5px">
                        <div class="form-group">
                          <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.start"
                            style=" padding-left: 10px; padding-right: 10px; height:2em" placeholder="Time from" />
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-2" style="padding-left: 5px; padding-right:5px">
                        <div class="form-group">
                          <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.end"
                            style=" padding-left: 10px; padding-right: 10px;  height:2em" placeholder="Time to" />
                        </div>
                      </div>
                      <div class="col-md-3 col-ms-3" style="padding-left: 0px; padding-right:50px">
                        <div class="btn-group btn-group-toggle">
                          <button class="form-control panel-boader clrs-cell btn-link" rel="tooltip" title="Click to update the activity"
                            style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em"
                            (click)="addActionTime(item)"><small>Save</small></button>
                          <button (click)="setAction(item)" class="form-control panel-boader clrs-cell btn-link"
                            style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em" rel="tooltip"
                            title="Click to confirm complete" data-toggle="modal" data-target="#actionClosure"><small>Complete</small></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-container>
          <ng-container *ngIf="viewDayActions.length === 0">
            <h4 class="clrs-h4-font">
              You have no activity planned Today
            </h4>
          </ng-container>
        </div>
        <ng-template #showProcessing>
          <div class="spacer" style="height:3em"></div>
          <div class="body center" style="height: 512px">
            <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i>
            <p>Processing.....</p>
          </div>
        </ng-template>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-9 text-left">
              <p class="category">To create new task under<b> Daily Diary </b>If the new activity does not belong to any
                existing task Goto Planning & create the Task for your activity and remember to add the task to weekly Tasks</p>
            </div>
            <div class="col-md-3 text-right">
              <button class="primary btn-link" data-toggle="modal" data-target="#newActionToday" rel="tooltip"
                title="Create new Sub-task">
                <!-- (click)="selectEditAction(item);showActionParticipants()"  -->
                New Sub-task
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div class="modal fade modal-primary" id="editUnits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog"><!--  modal-sm -->
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile ml-auto mr-auto">
          <i class="nc-icon nc-bulb-63"></i>
        </div>
      </div>
      <div class="modal-body">
        <p class="text-center">Edit Units for {{ selectEditWorkItem.name }}</p>
        <div class="row">
          <label class="col-md-4 col-form-label">Select Unit</label>
          <div class="col-md-7">
            <div class="form-group">
              <!-- <ng-select [items]="SIunits" bindLabel="name" name="jyu" placeholder="Select unit of Measure" [(ngModel)]="selectEditWorkItem.unit"></ng-select> -->
              <ng-select [items]="SIunits" bindLabel="name" id="sui1" name="jyu" placeholder="Select unit of Measure" [(ngModel)]="setSui">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-link btn-link" data-dismiss="modal">Back</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-link btn-link" (click)="addUnit()" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newAction" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="card-header text-center">
          <p class="col-md-8 ml-auto mr-auto col-form-label info" style="color:steelblue">
            <font size=4>New Sub-task for <br>{{ selectedTask.name }} task</font>
          </p>
        </div>
        <!-- <a *ngIf="setUnit.id"> Selected Unit: <span></span><small> {{ (setUnit)?.id }}</small></a><br> -->
        <hr>
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-4 col-form-label">Sub-task</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="text" [(ngModel)]="actionItem.name" name="taskName" class="form-control" placeholder="Name">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label">Unit</label>
            <div class="col-md-7">
              <div class="form-group">
                <ng-select [items]="SIunits" bindLabel="name"  id="sui12" name="jyu" placeholder="Select unit of Measure"
                  [(ngModel)]="setUnit"></ng-select>
              </div>  
            </div>
          </div>
          <!-- <div class="row">
            <label class="col-md-4 col-form-label">Start Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="actionItem.startDate" name="siu" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label">End Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="actionItem.endDate" name="siu" class="form-control">
              </div>
            </div>
          </div> -->
        </form>

        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="newAction(actionItem)" data-dismiss="modal"
              title="save activity">Enter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editAction" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="card-header text-center">
          <p class="col-md-8 ml-auto mr-auto col-form-label info" style="color:steelblue">
            <font size=4>Edit New Sub-task item <br> "{{ selectedAction.name }}"</font>
          </p>
        </div>
        <hr>
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-4 col-form-label">Start Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="startDate" name="startD" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label">End Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="endDate" name="endD" class="form-control">
              </div>
            </div>
          </div>
        </form>

        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="editAction(startDate,endDate)" data-dismiss="modal"
              title="save activity">Enter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editClassActionItem" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="card-header text-center">
          <p class="col-md-8 ml-auto mr-auto col-form-label clrs-h1-font info" style="color:steelblue">
            <!-- <font size=4>Edit New Sub-task item <br> "{{ selectedClassAction.name }}"</font> -->
            Edit New Sub-task item <br> "{{ selectedClassAction.name }}"
          </p>
        </div>
        <hr>
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-4 col-form-label">Start Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="startDate" name="start" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label">End Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="endDate" name="end" class="form-control">
              </div>
            </div>
          </div>
        </form>

        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="editClassAction(startDate,endDate)"
              data-dismiss="modal" title="save activity">Enter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 00000000000000000000000000000000000000000  old Stuff  00000000000000000000000000000000000000000 -->
<div class="modal fade" id="actionClosure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <h5 class="modal-title" id="myModalLabel">{{ actionSet.name }}</h5>
      </div>
      <div class="modal-body">
        <div class="instruction">
          <div class="row">
            <div class="col-md-10 text-center">
              <strong>Are you sure you have completed full quantites of this activity</strong>
              <!-- <p class="description">The first step is to create an account at
                <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the
                classic version, whatever works best for you.</p> -->
            </div>
          </div>
          <br>
          <p>If you have completed, Click Confirm to complete</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-info btn-round" (click)="setComplete()"
            data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>  
</div>  