<!-- <div class="main-content"> -->
<div class="col-md-12">
  <div class="card-body nav-hor-tabs">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link nav-colors active" data-toggle="tab" href="#intray" role="tab" aria-expanded="true">
              Things To Do In Tray</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-colors" data-toggle="tab" href="#weekly" role="tab" aria-expanded="true">
              Weekly Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-colors" data-toggle="tab" (click)="initDiary()" href="#diary" role="tab"
              aria-expanded="false">Daily Diary</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="my-tab-content" class="tab-content text-center">
      <div class="tab-pane active" id="intray" role="tabpanel" aria-expanded="true">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="card">
              <div class="card-body text-center" style="padding-top:0px">
                <div class="card-category clrs-h1 text-left">
                  <a>Things To Do In Tray</a>
                </div>
                <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
                  <div id="accordionTsk" role="tablist" aria-multiselectable="true" class="card-collapse">
                    <div class="card card-plain">
                      <div class="card-header text-left" role="tab" id="headingOne">
                        <a data-toggle="collapse" href="#Outstanding" aria-expanded="true" aria-controls="Outstanding"> <!--  (click)="dataCALL()" -->
                          Outstanding Tasks
                          <i class="nc-icon nc-minimal-down"></i>
                        </a>
                      </div>
                      <div id="Outstanding" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionTsk">
                        <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
                          <div class="content container scroll-task" style="padding-left: 0px;">
                            <ol> 
                              <li class="" style="color:steelblue" *ngFor="let tss of OutstandingTasks">
                                <div class="row">
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:slategrey">
                                      {{ tss.name }}<span class="label text-warning"> {{ tss.when }}</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                       title="Add {{ tss.name }} to a week`s tasks">
                                        Add to my Week's tasks
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ol>
                            <p *ngIf="OutstandingTasks.length == 0">No Outstanding Tasks</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain">
                      <div class="card-header text-left" role="tab" id="headingTwo">
                        <a class="collapsed" data-toggle="collapse" href="#currentTsk" aria-expanded="false" aria-controls="currentTsk">
                          Current Tasks
                          <i class="nc-icon nc-minimal-down"></i>
                        </a>
                      </div>
                      <div id="currentTsk" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTsk">
                        <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
                          <div class="content container scroll-task" style="padding-left: 0px;">
                            <ol>
                              <li class="" style="color:steelblue" *ngFor="let tss of CurrentTAsks">
                                <div class="row">
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:slategrey">
                                      {{ tss.name }}<span class="label text-warning"> {{ tss.when }}</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal" data-target="#dptModal"
                                       title="Add {{ tss.name }} to a week`s tasks">
                                        Add to my Week's tasks
                                      </button>
                                      <!-- <button class="dropdown-item primary btn-link" rel="tooltip" (click)="closeTask(project)" title="Set task as completed">Task
                                        Complete</button> -->
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ol>
                            <p *ngIf="CurrentTAsks.length == 0">No Current Tasks</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-plain">
                      <div class="card-header text-left" role="tab" id="headingThree">
                        <a class="collapsed" data-toggle="collapse" href="#upcoming" aria-expanded="false" aria-controls="upcoming">
                          Upcoming Tasks
                          <i class="nc-icon nc-minimal-down"></i>
                        </a>
                      </div>
                      <div id="upcoming" class="collapse" aria-labelledby="headingThree" data-parent="#accordionTsk">
                        <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
                          <div class="content container scroll-task" style="padding-left: 0px;">
                            <!-- Short Term Tasks<br> -->
                          <div class="card-header text-left"> Short Term Tasks</div><br>
                            <ol>
                              <li class="" style="color:steelblue" *ngFor="let tss of ShortTermTAsks">
                                <div class="row">
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" style="color:slategrey">
                                      {{ tss.name }}<span class="label text-warning"> {{ tss.when }}</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal"
                                        data-target="#dptModal" title="Add {{ tss.name }} to a week`s tasks">Add
                                        to my Week's tasks
                                      </button>
                                      <!-- <button class="dropdown-item primary btn-link" rel="tooltip" (click)="closeTask(project)" title="Set task as completed">Task
                                                                        Complete</button> -->
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ol>
                            <!-- Medium Term Tasks<br> -->
                          <div class="card-header text-left">Medium Term Tasks</div><br>
                            <ol>
                              <li class="" style="color:steelblue" *ngFor="let tss of MediumTermTAsks">
                                <div class="row">
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" style="color:slategrey">
                                      {{ tss.name }}<span class="label text-warning"> {{ tss.when }}</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal"
                                        data-target="#dptModal" title="Add {{ tss.name }} to a week`s tasks">Add
                                        to my Week's tasks
                                      </button>
                                      <!-- <button class="dropdown-item primary btn-link" rel="tooltip" (click)="closeTask(project)" title="Set task as completed">Task
                                                                        Complete</button> -->
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ol>
                            <!-- Long Term Tasks<br> -->
                          <div class="card-header text-left">Long Term Tasks</div><br>                          
                            <ol>
                              <li class="" style="color:steelblue" *ngFor="let tss of LongTermTAsks">
                                <div class="row">
                                  <div class="col-sm-12 text-left" style="margin-right:-.5em">
                                    <button class="dropdown-toggle btn-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" style="color:slategrey">
                                      {{ tss.name }}<span class="label text-warning"> {{ tss.when }}</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <button class="dropdown-item primary btn-link" rel="tooltip" (click)="add2WeeklyPlan(tss)" data-toggle="modal"
                                        data-target="#dptModal" title="Add {{ tss.name }} to a week`s tasks">Add
                                        to my Week's tasks
                                      </button>
                                      <!-- <button class="dropdown-item primary btn-link" rel="tooltip" (click)="closeTask(project)" title="Set task as completed">Task
                                                                        Complete</button> -->
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <div class="card">
              <div class="card-body text-center" style="padding-top:0px">
                <div class="card-category clrs-h4">
                  <a>My Weekly To Do List</a>
                </div>
                <div>
                  <div id="accordionA" role="tablist" aria-multiselectable="true" class="card-collapse">
                    <ol>
                      <li *ngFor="let tss of weeklyTasks | async" style="color:slategray">
                        <div class="row">
                          <div class="col-md-8 col-sm-8 ml-auto mr-auto">
                            <div class="card card-plain">
                              <div class="card-header" role="tab" id="heading2">
                                <a class="collapsed" data-toggle="collapse" href="#{{  tss.id  }}" (click)="viewMyTaskActions(tss)"
                                  aria-expanded="false" aria-current="false">{{ tss.name }}<i class="nc-icon nc-minimal-down"></i>
                                </a>
                              </div>
                              <div id="{{  tss.id  }}" class="collapse" data-parent="#accordionA" role="tabpanel"
                                aria-labelledby="heading2">
                                <div class="card-body">
                                  <ol style="padding-left: 0px;">
                                    <li *ngFor="let item of mytaskActions | async">{{ item.name }}
                                      <!-- <input [(ngModel)]="checkedAction" class="form-check-input pull-right col-form-label" id="checkbox1" type="checkbox"> -->
                                      <input style="margin-top: 4px;" class="pull-right col-form-label" type="checkbox" (change)="selectAction($event, item)">
                                    </li>
                                  </ol>
                                </div>
                                <button class="btn-link btn-round primary" (click)="selectTask(tss)" data-toggle="modal"
                                  data-target="#newAction">
                                  <small>Add activity</small>
                                </button>
                              </div>
                            </div>
                          </div>
                          <label class="col-md-1 col-sm-1 mr-auto">
                            <button class="btn btn-icon btn-round btn-danger btn-link remove" (click)="removeWeekTask(tss)"
                              title="Remove {{ tss.name }}"><i class="fa fa-times"></i></button>
                          </label>
                        </div>
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="row">
                  <p class="na-an" style="color: steelblue; margin-bottom: 0px;margin-left: 1em;"><i class="ti-palette"></i>list of week's selected activities</p>
                  <ol>
                    <li *ngFor="let item of selectedActionItems">
                      {{ item.name }}
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="weekly" role="tabpanel" aria-expanded="false">
        <div class="col-md-12 col-sm-12 ml-auto mr-auto">
          <p class="clrs-h4 text-left" style="margin-top:-1em; color: darkslategrey">Calendar Weekly Activities.</p>
          <p class="category text-left" style="margin-top:-1em">
            These are task classification standard activities and work activities picked for this week's activities
          </p>
        </div>
        <div class="row card-category clrs-h4">
          <div class="col-sm-4">Activity
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6 text-left na-an">Start Date</div>
              <div class="col-sm-6 text-left ma-an">Finish Date</div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ol>
            <li *ngFor="let item of standards | async">
              <div class="row" style="color: darkslategrey">
              <!-- <div class="row text-info"> -->
                <div class="col-sm-3 text-left" style="padding-left: 2em">
                  {{ item.name }}
                </div>
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-5 text-left">{{ item.startDay }}, {{ item.startDate }}</div>
                    <div class="col-sm-5 text-left">{{ item.endDay }}, {{ item.endDate }}</div>
                    <button class="primary btn-link" (click)="selectClassAction(item)" data-toggle="modal" data-target="#editClassActionItem"
                      style=" padding-top: 0px; padding-bottom: 0px;">
                      Add date</button>
                  </div>

                </div>
              </div>
            </li>
            <li *ngFor="let item of myWeeklyActions | async">
              <div class="row text-info">
                <div class="col-sm-3 text-left" style="padding-left: 2em">
                  {{ item.name }}
                </div>
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-sm-5 text-left">{{ item.startDay }}, {{ item.startDate }}</div>
                    <div class="col-sm-5 text-left">{{ item.endDay }}, {{ item.endDate }}</div>
                    <button class="primary btn-link" (click)="selectEditAction(item)" data-toggle="modal" data-target="#editAction"
                      style=" padding-top: 0px; padding-bottom: 0px;">
                      Add date</button>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </div>
        <div class="row card-category">
          <div class="col-md-12 col-sm-12">
            <p class="category">Click Add date to add or edit the start and end date for the Activity</p>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="diary" role="tabpanel" aria-expanded="false">
        <div class="row card-category clrs-h4">
          <div class="col-sm-3">
            <a class="clrs-h1 text-left">Daily Diary</a>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-2"><a class="btn btn-primary btn-link a-mycol" (click)="changeDay('previous')">Previous</a></div>
          <!-- <div class="col-sm-3 clrs-h1 text-info">{{ workWeekDay }}, {{ workDay }}</div> -->
          <div class="col-sm-3 clrs-h4 text-info">{{ workWeekDay }}, {{ workDay }}</div>
          <div class="col-sm-2"><a class="btn btn-primary btn-link a-mycol" (click)="changeDay('next')">Next</a></div>
        </div>
        <div class="card-body" style="margin-top: -10px">
          <!-- <div class="row" *ngIf= "viewTodaystds || viewTodays"> -->
          <div class="row" *ngIf= "viewTodaystds">
            <div class="card-header text-left"><i class="fa fa-check-box"></i></div>
            <div class="col-sm-2 card-header text-center">Activity<small class="category"> Item</small></div>
            <div class="col-sm-3 card-header text-right">Target Qty<small class="category"> for today</small></div>
            <div class="col-sm-2 card-header text-left">Start time</div>
            <div class="col-sm-2 card-header text-left">Finish time</div>
            <div class="col-sm-2 card-header text-left"></div>
          </div>
          <ng-container>
            <div class="col-sm-12">
              <ul style="list-style-type:none;padding-left: 10px;">
                <li *ngFor="let item of allMystandards | async">
                  <div class="row">
                    <div class="text-left">
                      <input style="margin-top: 4px;" class="pull-right col-form-label" *ngIf=" item.selectedWork == true; else UCK" type="checkbox" checked (change)="setDiary($event, item)">
                      <ng-template #UCK>
                        <input style="margin-top: 4px;" class="pull-right col-form-label" type="checkbox" (change)="setDiary($event, item)">
                      </ng-template>
                    </div>
                    <div class="col-sm-3 pull-left">
                      <button class="form-control panel-boader clrs-cell btn-link text-left" [ngClass]="{'text-success' : item.selectedWork == true}"
                        style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em">{{ item.name }}
                      </button>
                    </div>
                    <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                      <div class="form-group">
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                          <input type="text" class="form-control panel-boader" [(ngModel)]="item.targetQty" style=" padding-left: 10px; padding-right: 10px; height:2em"
                            placeholder="No" rel="tooltip" title="Click and enter todays'arget quantity"/>
                          <div class="input-group-postpend">
                            <span class="input-group-text" style=" padding-left: 10px; padding-right: 10px; height:28px">
                              
                              <small>{{ item.unit }}</small>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                      <div class="form-group">
                        <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.start" style=" padding-left: 10px; padding-right: 10px; height:2em"
                          rel="tooltip" title="Click, enter start time" placeholder="Time from" />
                      </div>
                    </div>
                    <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                      <div class="form-group">
                        <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.end" style=" padding-left: 10px; padding-right: 10px;  height:2em"
                          rel="tooltip" title="Click, enter end time" placeholder="Time to" /> 
                      </div>
                    </div>
                    <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                      <div class="btn-group btn-group-toggle">
                        <button class="form-control panel-boader clrs-cell btn-link" style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em"
                            rel="tooltip" title="Click to  update the activity" (click)="addClassActionTime(item)"><small>Save</small></button>
                        <!-- <button class="form-control panel-boader clrs-cell btn-link" style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em"
                          rel="tooltip" title="Click to confirm complete"><small>Complete</small></button> -->
                      </div>
                    </div>
                  </div>
                </li>
                <li *ngFor="let item of viewDayActions">
                  <div class="row">
                    <div class="text-left">
                      <input style="margin-top: 4px;" class="pull-right col-form-label" *ngIf="item.selectedWork == true; else NCK" type="checkbox" checked (change)="setDiaryAction($event, item)">
                      <ng-template #NCK>
                        <input style="margin-top: 4px;" class="pull-right col-form-label" type="checkbox" (change)="setDiaryAction($event, item)">
                      </ng-template>
                    </div>
                    <div class="col-sm-3 pull-left">
                      <button class="form-control panel-boader clrs-cell btn-link text-left" [ngClass]="{'text-success' : item.selectedWork == true}"
                        style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em">{{ item.name }}
                      </button>
                    </div>
                    <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                      <div class="form-group">
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                          <input type="text" class="form-control panel-boader" [(ngModel)]="item.targetQty" 
                            style=" padding-left: 10px; padding-right: 10px; height:2em" placeholder="No"  rel="tooltip" title="Click and enter todays'arget quantity"/>
                          <div class="input-group-postpend">
                            <span  *ngIf="!item.unit.id; else showUnit" class="input-group-text" style=" padding-left: 10px; padding-right: 10px; height:28px">
                              <small><span>{{ item.unit.id }}</span><span *ngIf="!item.unit.id">{{ item.unit }}</span></small>
                            </span>
                            <ng-template #showUnit>
                              <span class="input-group-text" style=" padding-left: 10px; padding-right: 10px; height:28px">
                                <small>{{ item.unit }}</small>
                              </span>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                      <div class="form-group">
                        <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.start" rel="tooltip" title="Click, enter start time"
                          style=" padding-left: 10px; padding-right: 10px; height:2em" placeholder="Time from" /> <!-- clrs-cell  -->
                      </div>
                    </div>
                    <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                      <div class="form-group">
                        <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.end" rel="tooltip" title="Click, enter end time"
                          style=" padding-left: 10px; padding-right: 10px;  height:2em" placeholder="Time to" />
                      </div>
                    </div>
                    <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                      <div class="btn-group btn-group-toggle">
                        <button  class="form-control panel-boader clrs-cell btn-link" rel="tooltip" title="Click to update the activity"
                          style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em" (click)="addActionTime(item)"><small>Save</small></button>
                        <button (click)="setAction(item)" class="form-control panel-boader clrs-cell btn-link" style="padding-top: 2px; padding-left: 10px; padding-right: 10px; height:2em"
                          rel="tooltip" title="Click to confirm complete" data-toggle="modal" data-target="#actionClosure"><small>Complete</small></button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-container>
          <ng-container *ngIf="!viewTodaystds && !viewTodayWork">
            <h4 class="clrs-h4">
              You have no activity planned Today
            </h4>
          </ng-container>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-9 text-left">
                <p class="category">To create new task under<b> Daily Diary </b>If the new activity does not belong to any existing task Goto Planning & create the Task for your activity and remember to add the task to weekly Tasks</p>
              </div>
              <div class="col-md-3 text-right">
                <button class="primary btn-link" data-toggle="modal" data-target="#newActionToday" rel="tooltip" title="Create new Activity"> <!-- (click)="selectEditAction(item);showActionParticipants()"  -->
                  New Activity
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div class="modal fade modal-primary" id="editUnits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog"><!--  modal-sm -->
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="modal-profile ml-auto mr-auto">
          <i class="nc-icon nc-bulb-63"></i>
        </div>
      </div>
      <div class="modal-body">
        <p class="text-center">Edit Units for {{ selectEditWorkItem.name }}</p>
        <div class="row">
          <label class="col-md-4 col-form-label">Select Unit</label>
          <div class="col-md-7">
            <div class="form-group">
              <!-- <ng-select [items]="SIunits" bindLabel="name" name="jyu" placeholder="Select unit of Measure" [(ngModel)]="selectEditWorkItem.unit"></ng-select> -->
              <ng-select [items]="SIunits" bindLabel="name" id="sui1" name="jyu" placeholder="Select unit of Measure" [(ngModel)]="setSui">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-link btn-link" data-dismiss="modal">Back</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-link btn-link" (click)="addUnit()" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newAction" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="card-header text-center">
          <p class="col-md-8 ml-auto mr-auto col-form-label info" style="color:steelblue">
            <font size=4>New Activity for <br>{{ selectedTask.name }} task</font>
          </p>
        </div>
        <!-- <a *ngIf="setUnit.id"> Selected Unit: <span></span><small> {{ (setUnit)?.id }}</small></a><br> -->
        <hr>
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-4 col-form-label">New Activity Name</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="text" [(ngModel)]="actionItem.name" name="taskName" class="form-control" placeholder="New Activity name">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label">Unit measure</label>
            <div class="col-md-7">
              <div class="form-group">
                <ng-select [items]="SIunits" bindLabel="name"  id="sui12" name="jyu" placeholder="Select unit of Measure"
                  [(ngModel)]="setUnit"></ng-select>
              </div>  
            </div>
          </div>
          <!-- <div class="row">
            <label class="col-md-4 col-form-label">Start Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="actionItem.startDate" name="siu" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label">End Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="actionItem.endDate" name="siu" class="form-control">
              </div>
            </div>
          </div> -->
        </form>

        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="newAction(actionItem)" data-dismiss="modal"
              title="save activity">Enter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editAction" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="card-header text-center">
          <p class="col-md-8 ml-auto mr-auto col-form-label info" style="color:steelblue">
            <font size=4>Edit New Activity item <br> "{{ selectedAction.name }}"</font>
          </p>
        </div>
        <hr>
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-4 col-form-label">Start Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="startDate" name="startD" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label">End Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="endDate" name="endD" class="form-control">
              </div>
            </div>
          </div>
        </form>

        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="editAction(startDate,endDate)" data-dismiss="modal"
              title="save activity">Enter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editClassActionItem" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="card-header text-center">
          <p class="col-md-8 ml-auto mr-auto col-form-label clrs-h1 info" style="color:steelblue">
            <!-- <font size=4>Edit New Activity item <br> "{{ selectedClassAction.name }}"</font> -->
            Edit New Activity item <br> "{{ selectedClassAction.name }}"
          </p>
        </div>
        <hr>
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-4 col-form-label">Start Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="startDate" name="start" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label">End Date</label>
            <div class="col-md-7">
              <div class="form-group">
                <input type="date" [(ngModel)]="endDate" name="end" class="form-control">
              </div>
            </div>
          </div>
        </form>

        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="editClassAction(startDate,endDate)"
              data-dismiss="modal" title="save activity">Enter</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 00000000000000000000000000000000000000000  old Stuff  00000000000000000000000000000000000000000 -->
<div class="modal fade" id="actionClosure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <h5 class="modal-title" id="myModalLabel">{{ actionSet.name }}</h5>
      </div>
      <div class="modal-body">
        <div class="instruction">
          <div class="row">
            <div class="col-md-10 text-center">
              <strong>Are you sure you have completed full quantites of this activity</strong>
              <!-- <p class="description">The first step is to create an account at
                <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the
                classic version, whatever works best for you.</p> -->
            </div>
          </div>
          <br>
          <p>If you have completed, Click Confirm to complete</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-info btn-round" (click)="setComplete()"
            data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>  
</div>  