<div class="full-page register-page section-image" data-image="./assets/img/bg/Page1.png">
  <div class="wrapper wrapper-full-page">
    <div class="content" style="padding-top: 0px;">
      <div class="container align-middle" style=" margin-top: 20px">
        <div class="spacer" style="height: 6em"></div>
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
            <!-- <div class="logo" style="width: 62px; height: auto; padding: top 0em; padding-bottom:1.5em"> -->
            <div class="logo center">
              <div class="logo-imgn">
                <img src="./assets/img/faces/colours_icon2.png" />
              </div>
            </div>
          </div>
        </div>
        <!-- <br> -->
        <div class="row">
          <!-- <div class="col-md-8 col-md-offset-1">
            </div> -->
          <div class="col-md-4 ml-auto mr-auto card" style="background-color: transparent;">
            <!-- <form method="#" action="#"> -->
              <div class="card card-plain">
                <div class="content">
                  <style>
                    .clrs-logo {
                      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                      /* font-family: AR ESSENCE; */
                      /* color: steelblue; */
                      font-size: 30px;
                      backface-visibility: visible
                    }

                    .na-am {
                      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                      font-size: 20px;

                    }

                    .tmColor {
                      color: #333366;
                    }
                  </style>
                  <div class="card-content">
                    <h4 class=" na-am" style="margin-top:5px ; margin-bottom :10px; color:#333366">
                      <font size=2><b>Colours tell a story</b></font>
                    </h4>
                    <div class="spacer" style="height: 1em"></div>
                    <p style="margin-top:10px ; margin-bottom :10px; color:#333366">
                        <font size=2><b>Colours tells the story of whats happening on the ground at all your projects</b></font><br>
                    </p>
                    <p style="margin-top:10px ; margin-bottom :10px; color:#333366">
                      <font size=2><b>Colours tells the story of whats happening across your enterprise hour in, hour out</b></font><br>
                    </p>
                    <p style="margin-top:10px ; margin-bottom :10px; color:#333366">
                      <font size=2><b>Colours also tells the story of your true personal productivity colours</b></font><br>
                    </p>

                    <div *ngIf="showemailLogin">
                      <a class="btn btn-info btn-link btn-round" style="color:#fafafa;background-color: #333366;" routerLink="/pages/register">create account</a>
                    </div>
                    <h4 style="margin-top:10px ; margin-bottom :10px; color:#333366">
                        <font size=2>Have an account already?<a style="text-emphasis-color: #333366" routerLink="/pages/login"> Log-in</a></font>
                      <br>
                    </h4>
                  </div>
                </div>
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>