
<h3 id="org1">Personal Reports</h3>
<!-- <div class="card-header text-left" *ngIf="company !== '' || company === undefined">
    <h2>{{ company }}'s Individual Total Time spent Report</h2>
</div><br> -->

<h3>Participant:
    <span><select id="name-list1"></select></span>
    <span> &nbsp;&nbsp; Hierarchy:</span><span>{{rService.User_Hky}}</span></h3>

<h4>Total Time spent on an Task Activity for the period from <span>
        <!-- placeholder will not work, so stuck with dd----yyyyy -->
        <input type="date" id="startdate1">
    </span> to <span>
        <input type="date" id="enddate1">
        <button id="btn1" (click)="rService.rtimespent_e()">Generate report for selected period</button>
    </span></h4>

<!-- Table headings only -->
<table id="TbId1">
    <tr>
         <!-- headings -->
        <th>Action Item</th>
        <th>Task Name</th>
        <th style="text-align:center">Hours Spent</th>
    </tr>
</table>