<div class="main-content">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <span class="row">
                  <span class="col-md-6">
                      <h4 class="card-title clrs-h4-font">Individual Monthly Actual In-come for year</h4>
                  </span>
                  <span class="col-md-3">
                    <ng-select [items]="actualIncomeColl | async" bindLabel="name" name="sPeriod" placeholder="Select Period"
                      (change)="yearQuery()" [(ngModel)]="setYear">
                    </ng-select>
                  </span>
                  <span class="col-md-3">
                    <!-- <a style="vertical-align: sub;"><i class="fa fa-plus"></i></a> -->
                  </span>
                </span>
            </div>
              <div class="card-body">
                <div class="toolbar">
                      <!--      Here you can write extra buttons/actions for the toolbar      -->
                    <button class="btn-link" data-toggle="modal" data-target="#addIncome" style="color: gray;">Add</button>
                    <button class="btn-link" data-toggle="modal" data-target="#editIncome" style="color: gray;">edit</button>

                  </div>
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%"> <!--  id="datatable" -->
                          <thead>
                              <tr>
                                <th class="disabled-sorting text-left"></th>
                                <th *ngIf="incomeDataTable.headerRow[0]" class="disabled-sorting text-right">{{ incomeDataTable.headerRow[0] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[1]" class="text-right">{{ incomeDataTable.headerRow[1] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[2]" class="text-right">{{ incomeDataTable.headerRow[2] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[3]" class="text-right">{{ incomeDataTable.headerRow[3] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[4]" class="text-right">{{ incomeDataTable.headerRow[4] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[5]" class="text-right">{{ incomeDataTable.headerRow[5] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[6]" class="text-right">{{ incomeDataTable.headerRow[6] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[7]" class="text-right">{{ incomeDataTable.headerRow[7] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[8]" class="text-right">{{ incomeDataTable.headerRow[8] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[9]" class="text-right">{{ incomeDataTable.headerRow[9] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[10]" class="text-right">{{ incomeDataTable.headerRow[10] }}</th>
                                <th *ngIf="incomeDataTable.headerRow[11]" class="text-right">{{ incomeDataTable.headerRow[11] }}</th>
                                <!-- <th *ngIf="incomeDataTable.headerRow[12]">{{ incomeDataTable.headerRow[12] }}</th> -->
                              </tr>
                          </thead>
                          <tbody><!--  *ngIf="(monthlyData).length !== 0" -->
                              <tr *ngFor="let row of incomeDataTable.dataRows">
                                  <td *ngIf="row[0]" class="table td-clrs text-left">{{ row[0] }}</td>
                                  <td *ngIf="row[1]" class="table td-clrs text-right">{{ row[1] }}</td>
                                  <td *ngIf="row[2]" class="table td-clrs text-right">{{ row[2] }}</td>
                                  <td *ngIf="row[3]" class="table td-clrs text-right">{{ row[3] }}</td>
                                  <td *ngIf="row[4]" class="table td-clrs text-right">{{ row[4] }}</td>
                                  <td *ngIf="row[5]" class="table td-clrs text-right">{{ row[5] }}</td>
                                  <td *ngIf="row[6]" class="table td-clrs text-right">{{ row[6] }}</td>
                                  <td *ngIf="row[7]" class="table td-clrs text-right">{{ row[7] }}</td>
                                  <td *ngIf="row[8]" class="table td-clrs text-right">{{ row[8] }}</td>
                                  <td *ngIf="row[9]" class="table td-clrs text-right">{{ row[9] }}</td>
                                  <td *ngIf="row[10]" class="table td-clrs text-right">{{ row[10] }}</td>
                                  <td *ngIf="row[11]" class="table td-clrs text-right">{{ row[11] }}</td>
                                  <td *ngIf="row[12]" class="table td-clrs text-right">{{ row[12] }}</td>
                                  <!-- <td class="text-right">
                                    <a href="#" class="btn btn-info btn-link btn-icon btn-sm like"><i class="fa fa-heart"></i></a>
                                    <a href="#" class="btn btn-warning btn-link btn-icon btn-sm edit"><i class="fa fa-edit"></i></a>
                                    <a href="#" class="btn btn-danger btn-link btn-icon btn-sm remove"><i class="fa fa-times"></i></a>
                                  </td> -->
                              </tr>
                          </tbody>
                      </table>
              </div>
              <!-- end content-->
          </div>
          <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
  </div>
  <div class="modal fade card-plain" id="addIncome" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="col-md-12">
            <!-- <div class="row"> -->
            <div class="card ">
              <div class="card-header ">
                <h4 class="card-title clrs-h4-font">Add Your Actual In-come</h4>
              </div>
              <div class="card-body">
                <form method="#" action="#">
                  <span class="row">
                  <!-- <label>Month</label>&nbsp;&nbsp;&nbsp;<a class="tmColor" (click)="dateTogle()"><font size= 2>change</font></a> -->
                    <span class="col-md-9"><label>Month</label></span>
                    <span class="col-md-3 pull-right" ><a class="text-primary" (click)="dateTogle()"><font size= 2>change</font></a></span>
                  </span>
                  <div class="form-group">
                      <div class="input-group">
                        <input *ngIf="!showMonthSet" class="form-control" placeholder="{{incomeData.name}}, {{incomeData.year}}" name="dp1" ngbDatepicker #d1="ngbDatepicker" 
                          [(ngModel)]="incDate" (click)="d1.toggle()">
                        <span *ngIf="showMonthSet" class="form-control">
                            {{incomeData.name}}, {{incomeData.year}}
                        </span>
                        <div class="input-group-append" style="padding-top: 0px;padding-bottom: 0px; height: 35px;">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                      </div>
                  </div>
                  <label>Amount</label>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepand" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                        <span class="input-group-text"><small>$</small>
                        </span>
                      </div>
                      <input type="number" class="form-control" style="padding-top: 0px;padding-bottom: 0px; height: 32px;"
                      name="Amount" [(ngModel)]="incomeData.pValue" placeholder="Enter projected income amount" (click)="getMonthYr()">
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer ">
                <button type="submit" class="btn btn-info btn-round" (click)="addIncomeArch()" data-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade card-plain" id="editIncome" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="col-md-12">
              <!-- <div class="row"> -->
              <div class="card ">
                <div class="card-header ">
                  <h4 class="card-title clrs-h4-font">Add / Edit Your In-come</h4>
                </div>
                <div class="card-body ">
                  <form method="#" action="#">
                    <span class="row">
                      <span class="col-md-9"><label>Month <span *ngIf="showMonth" class="text-danger">Not found in your schedule</span></label></span>
                      <span class="col-md-3 pull-right" ><a class="text-primary" (click)="dateTogle()"><font size= 2>change</font></a></span>
                    </span>
                    <div class="form-group">
                        <div class="input-group">
                          <input *ngIf="!showMonthSet" class="form-control" placeholder="{{incomeData2.name}}, {{incomeData2.year}}" name="dp2" ngbDatepicker #d1="ngbDatepicker" 
                            [(ngModel)]="incDate" (click)="d1.toggle()">
                          <span *ngIf="showMonthSet" class="form-control">
                              <span *ngIf="incomeData2.name !== null">{{incomeData2.name}}</span><span  *ngIf="incomeData2.year !== null">, {{incomeData2.year}}</span>
                          </span>
                          <div class="input-group-append" style="padding-top: 0px;padding-bottom: 0px; height: 35px;">
                              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                        </div>
                    </div>
                    <span class="row">
                        <span class="col-md-9"><label>Projected Amount</label></span>
                        <span class="col-md-3 pull-right" ><a class="text-primary" (click)="pValueTogle()"><font size= 2>edit</font></a></span>
                      </span>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepand" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                          <span class="input-group-text"><small>$</small>
                          </span>
                        </div>
                        <input *ngIf="!showMonthpValue" type="number" class="form-control" style="padding-top: 0px;padding-bottom: 0px; height: 32px;"
                          name="lAmount" [(ngModel)]="incomeData2.pValue" placeholder="Enter projected income amount" (click)="callMonthYr()">
                        <input *ngIf="showMonthpValue" type="number" class="form-control" style="padding-top: 0px;padding-bottom: 0px; height: 32px;"
                            name="Amount" [(ngModel)]="incomeData2.pValue" placeholder="Enter projected income amount">
                        <span hidden *ngIf="showMonthpValue" class="form-control">
                            {{incomeData2.pValue}}
                        </span>
                      </div>
                    </div>
                    <label>Actual Amount</label>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepand" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                          <span class="input-group-text"><small>$</small>
                          </span>
                        </div>
                        <input type="number" class="form-control" style="padding-top: 0px;padding-bottom: 0px; height: 32px;"
                        name="pAmount" [(ngModel)]="incomeData2.value" placeholder="Enter projected income amount">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer ">
                  <button type="submit" class="btn btn-info btn-round" (click)="editIncome2()" data-dismiss="modal">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>