<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-pricing ">
            <div class="card-header">
              <h6 class="card-category"> Alpha Pack</h6>
            </div>
            <div class="card-body">
              <div class="card-icon icon-primary ">
                <i class="nc-icon nc-spaceship"></i>
              </div>
              <h3 class="card-title">69$</h3>
              <ul>
                <li>Working materials in EPS</li>
                <li>6 months access to the library</li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="#pablo" class="btn btn-round btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-pricing card-plain">
            <div class="card-header">
              <h6 class="card-category"> Bravo Pack</h6>
            </div>
            <div class="card-body">
              <div class="card-icon icon-warning ">
                <i class="nc-icon nc-shop"></i>
              </div>
              <h3 class="card-title">10$</h3>
              <ul>
                <li>Complete documentation</li>
                <li>Working materials in Sketch</li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="#pablo" class="btn btn-round btn-neutral btn-warning">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-testimonial">
        <div class="card-body ">
          <div class="icon icon-primary">
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="card-description">
            The networking at Web Summit is like no other European tech conference.
          </p>
        </div>
        <div class="card-footer ">
          <h4 class="card-title">Gina Andrew</h4>
          <h6 class="card-category">@ginaandrew</h6>
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="./assets/img/faces/joe-gardner-2.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
