<div class="main-content">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="nav-tabs-navigation" style="margin-bottom: 0px;">
                        <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#project" role="tab" aria-expanded="false">Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#company" role="tab" aria-expanded="true">Enterprise</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane" id="project" role="tabpanel" aria-expanded="false">
                            <div class="col-md-12 ml-auto mr-auto">
                                <div class="card">
                                    <div *ngIf="pfirstPage" class="col-md-12">
                                        <div class="card-header ">
                                            <div class="row">
                                                <h5 class="title na-am">Create new Project</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="pSecondPage" class="col-md-12">
                                        <div class="card-header ">
                                            <div class="row">
                                                <h5 class="title na-am">{{ project.name }} <br> <small>Add Project
                                                        Description</small></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="pfirstPage" class="col-md-10 ml-auto mr-auto">
                                        <div class="card-body ">
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Project Name</label>
                                                <div class="col-md-9">
                                                    <p *ngIf="projectNameFieldStatus" class="category text-danger"
                                                        style="margin-top:-1em; cursor: pointer;">Name Required</p>
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="project.name" name="enterprise_name"
                                                            class="form-control" placeholder="e.g..Bob Corp">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Industry Sector</label>
                                                <div class="col-md-9">
                                                    <p *ngIf="projectSectorFieldStatus" class="category text-danger"
                                                        style="margin-bottom:0em; cursor: pointer;">Sector Required</p>
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="project.sector" class="form-control"
                                                            placeholder="e.g..Transport">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Location</label>
                                                <div class="col-md-9">
                                                    <p *ngIf="projectLocationFieldStatus" class="category text-danger"
                                                        style="margin-bottom:0em; cursor: pointer;">Location Required</p>
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="project.location" name="enterprise_location"
                                                            class="form-control" placeholder="e.g..Mutare">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Project Type</label>
                                                <div class="col-md-9">
                                                    <p *ngIf="projectTypeFieldStatus" class="category text-danger"
                                                        style="margin-bottom:0em; cursor: pointer;">Type Required</p>
                                                    <div class="form-group">
                                                        <ng-select [items]="projectType" title="Select Project Type"
                                                            bindLabel="name" name="ptype" placeholder="Project Type"
                                                            (change)="checkType(typeSet)" [(ngModel)]="typeSet">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="showComp">
                                                <label class="col-md-3 col-form-label">Select Company</label>
                                                <div class="col-md-9">
                                                    <p *ngIf="projectCompanyFieldStatus" class="category text-danger"
                                                        style="margin-bottom:0em; cursor: pointer;">Company Required</p>
                                                    <div class="form-group">
                                                        <ng-select [items]="myEnterprises | async" title="Select Company"
                                                            bindLabel="name" name="pCompany" placeholder="Company"
                                                            (change)="showCompanyTeam(setCompany)" [(ngModel)]="setCompany">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="showComp">
                                                <label class="col-md-3 col-form-label">Select Champion</label>
                                                <div class="col-md-9">
                                                    <p *ngIf="projectCompCampFieldStatus" class="category text-danger"
                                                        style="margin-bottom:0em; cursor: pointer;">Champ Required</p>
                                                    <div class="form-group">
                                                        <ng-select [items]="comWorkers | async" title="Select Company"
                                                            bindLabel="name" name="pChampion" placeholder="Champion"
                                                            (change)="setNext(setChampion)" [(ngModel)]="setChampion">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="showComp">
                                                <label class="col-md-3 col-form-label">Roles</label>
                                                <div class="col-md-9">
                                                    <tag-input [(ngModel)]='roles' theme='minimal'></tag-input>
                                                </div>
                                            </div>
                                            <div class="card-footer" *ngIf="showNext">
                                                <div class="row">
                                                    <div class="col-md-11 ml-auto mr-auto">
                                                        <!-- <button type="submit" style="padding-right:0em" class="pull-left primary btn-link" routerLink="/join-project">Join a Project</button> -->
                                                    </div>
                                                    <div class="col-md-1 mr-auto">
                                                        <button type="submit" (click)="testProjectFilds(project, typeSet, setCompany, setChampion)"
                                                            name="enterprise_sector" class="btn-link">Next</button>
                                                    </div><!-- (click)="saveProject()" -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="pSecondPage" class="col-md-10 ml-auto mr-auto">
                                        <div class="card-body ">
                                            <!-- <a class="card-category clrs-h1">{{ project.name }} <br> <small>Add Project Description</small></a>     -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p *ngFor="let xsection of theSections | async">
                                                        <span class="col-md-4">{{ xsection.no }}</span>
                                                        <span class="col-md-8"> {{ xsection.name }}</span>
                                                        <span>
                                                            <button class="btn-link" (click)="deleteSection(xsection)"><i
                                                                    class="fa fa-times"></i></button>
                                                        </span><br>
                                                    </p>
                                                </div>
                                            </div>
                                            <p>Create Sections for the Project</p>
                                            <div class="row" rel="tooltip" title="Section No">
                                                <label class="col-md-3 col-form-label">No</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="number" [(ngModel)]="section.no" name="enterprise_location"
                                                            class="form-control" placeholder="e.g   1,2,3....">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" rel="tooltip" title="Section Nameo">
                                                <label class="col-md-3 col-form-label">Name</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="section.name" name="enterprise_location"
                                                            class="form-control" placeholder="e.g. Section Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10"></div>
                                                <div class="col-md-2">
                                                    <button type="submit reset" class="btn-link" (click)="addSection()">Add</button>
                                                </div>
                                            </div>
                                            <div class="card-footer" *ngIf="showNext">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <button type="submit" name="nextBtn" (click)="pBckPage()" class="btn-link text-info">Dismiss</button>
                                                        <button type="submit" (click)="finish()" name="enterprise_sector"
                                                            class="btn-link">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card-footer ">
                                            <div class="row">
                                                <h5 class="title na-am">Or Join Existing Project <a routerLink="/join-project">
                                                        <small> click to join </small></a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="company" role="tabpanel" aria-expanded="true">
                            <div class="col-md-12 ml-auto mr-auto">
                                <div class="card">
                                    <div class="col-md-12">
                                        <div class="card-header ">
                                            <div class="row">
                                                <div class="col-md-8 ml-auto mr-auto">
                                                    <h5 class="title na-am">Create Company</h5>
                                                </div>
                                                <div class="col-md-4 mr-auto ml-auto" style="margin-right:0em">
                                                    <!-- <button type="submit" style="padding-right:0em" class="pull-left primary btn-link" routerLink="/enterprises/join-enterprise">Join existing Enterprise</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="firstPage" class="col-md-10 ml-auto mr-auto">
                                        <div class="card-body">
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Company Name</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="newEnterprise.name" name="enterprise_name"
                                                            class="form-control" placeholder="e.g..Bob Corp">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Location</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="newEnterprise.location" name="enterprise_location"
                                                            class="form-control" placeholder="e.g..Mutare">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Industry Sector</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="newEnterprise.sector" class="form-control"
                                                            placeholder="e.g..Transport">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Services</label>
                                                <div class="col-md-9">
                                                    <tag-input [(ngModel)]='serviceTags' theme='minimal'></tag-input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer ">
                                            <div class="row">
                                                <label class="col-md-3"></label>
                                                <div class="col-md-9">
                                                    <button type="submit" name="nextBtn" (click)="nxtPage()" class="btn-link text-info">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="secondPage" class="col-md-10 ml-auto mr-auto">
                                        <div class="card-body">
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Telephone</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="newEnterprise.telephone" name="enterprise_location"
                                                            class="form-control" placeholder="e.g. 06 66666666">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Address</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="newEnterprise.address" name="enterprise_location"
                                                            class="form-control" placeholder="e.g. House#, street, location ,Town">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Email</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="email" [(ngModel)]="compUser.bus_email" name="enterprise_location"
                                                            class="form-control" placeholder="e.g. name@bus_email.com">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">Nation</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="compUser.nation" name="enterprise_location"
                                                            class="form-control" placeholder="e.g. Zimbabwe">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-md-3 col-form-label">ID number</label>
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <input type="text" [(ngModel)]="compUser.nationalId" name="enterprise_location"
                                                            class="form-control" placeholder="e.g. 08-1112389 N13">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <label class="col-md-3 col-form-label">Tax Clearance Doc</label>
                                                <div class="col-md-9">
                                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                        <input class="form-control" type="file" style="border: 0px;" (click)="upload($event,newEnterprise.taxDocument)" name="taxDoc" accept=".png,.jpg,.pdf" [(ngModel)]="newEnterprise.taxDocument"/>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="card-footer ">
                                            <div class="row">
                                                <div class="col-md-3">
                                                </div>
                                                <div class="col-md-8">
                                                    <button type="submit" name="nextBtn" (click)="bckPage()" class="btn-link text-info">Back</button>
                                                    <button type="submit" (click)="saveEnterprise()" name="enterprise_sector"
                                                        class="btn-link text-info">Save company</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card-footer ">
                                            <div class="row">
                                                <!-- <div class="col-md-8 ml-auto mr-auto"> -->
                                                <h5 class="title na-am">Or Join an existing Company <small><span>
                                                            <button class="btn-link" routerLink="/enterprises/join-enterprise">click
                                                                here</button></span></small>
                                                </h5>
                                                <!-- </div>
                                                <div class="col-md-4 mr-auto ml-auto" style="margin-right:0em">
                                                    <button type="submit" style="padding-right:0em" class="pull-left primary btn-link" routerLink="/enterprises/join-enterprise">Join existing Enterprise</button>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p>Select Company</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive pro_info">
                    <table class="table">
                        <thead class="">
                            <th>Name</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ent of enterprises | async ">
                                <td>{{ ent.name }} </td>
                                <td>{{ ent.by}}</td>
                                <td class="text-center">
                                    <a class="warning btn-link edit" routerLink="#" rel="tooltip" title="select {{ ent.name }}"
                                        (click)="selectCompany(ent)" data-toggle="modal" data-target="#noticeModal">
                                        <font size=2>Select</font>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="left-side">
                    <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                    <button type="button" class="btn btn-danger btn-link" (click)="saveProject()" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-primary" id="pdescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-profile ml-auto mr-auto">
                    <i class="fa  fa-list-alt"></i>
                </div>
                <a class="card-category clrs-h1">{{ project.name }} <br> <small>Add Project Description</small></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p *ngFor="let xsection of theSections | async">
                        <span class="col-md-4">{{ xsection.no }}</span><span class="col-md-8"> {{ xsection.name }}</span><span><button
                                class="btn-link" (click)="deleteSection(xsection)"><i class="fa fa-times"></i></button></span><br>
                    </p>
                </div>
                <p>Create Sections for the Project</p>
                <div class="row" rel="tooltip" title="Section No">
                    <label class="col-md-3 col-form-label">No</label>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="number" [(ngModel)]="section.no" name="enterprise_location" class="form-control"
                                placeholder="e.g   1,2,3....">
                        </div>
                    </div>
                </div>
                <div class="row" rel="tooltip" title="Section Nameo">
                    <label class="col-md-3 col-form-label">Name</label>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="section.name" name="enterprise_location" class="form-control"
                                placeholder="e.g. Section Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button type="submit reset" class="btn-link" (click)="addSection()">Add</button>
                </div>
            </div>
            <div class="spacer" style="height: 2em"></div>
            <div class="modal-footer">
                <div class="left-side">
                    <button type="button" (click)="dismisProject()" class="btn btn-link" data-dismiss="modal">Back</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="finish()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>