<div class="main-content">

    <div style="text-align:left">
        <img alt="Southland Logo" src="../../../assets/img/Colourslogo.PNG">
    </div>
    
    <!-- Table heading -->
    <h1 id="currUser"></h1>

    <h3>Total Time spent on an Activity for the period from <span>
            <!-- placeholder will not work, so stuck with dd----yyyyy -->
            <input type="date" id="startdate">
        </span> to <span>
            <input type="date" id="enddate">
    <button (click)="rService.rtimespentshow()">Generate report for selected period</button>
    </span></h3>
    <!-- button onclick="javascript:alert('kkkkk')">Try it</button> -->
    <!-- button (click)="rService.clearTable()">Clear table</button> -->
    <!-- Table rows and headings only -->
    <table id="tableList">
        <!-- headings -->
        <tr>
            <th align="left">Activity</th>
            <th align="left">Task Name</th>
            <th>Hours Spent</th>
        </tr>
    </table>
</div>