<div class="main-content">

    <div style="text-align:left">
        <img alt="Southland Logo" src="../../../assets/img/Colourslogo.PNG">
    </div>
    
    <!-- Table heading -->
    <h2 id="UserP1">User</h2>

    <h4>Total Time spent on an Activity for the period from <span>
            <!-- placeholder will not work, so stuck with dd----yyyyy -->
            <input type="date" id="startdateP1">
        </span> to <span>
            <input type="date" id="enddateP1">
    <!-- <button (click)="rService.rtimespentshow()">Generate report for selected period</button> -->
    <button (click)="rService.rtimespent()">Generate report for selected period</button>
    </span></h4>
    <!-- button onclick="javascript:alert('kkkkk')">Try it</button> -->
    <!-- button (click)="rService.clearTable()">Clear table</button> -->
    <!-- Table rows and headings only -->
    <table id="TbIdP1">
        <!-- headings -->
        <tr>
            <th>Sub Task</th>
            <th>Task Name</th>
            <th style="text-align:center">Hours Spent</th>
        </tr>
    </table>
</div>