<div class="tab-pane" id="reports">
  <p class="clrs-h1-font" style="margin-top:5em; margin-left:1em; color:darkslategray">{{rService.EnterpriseName}} Reports...</p>

<div class="col-md-12">
<div class="card">

<div class="card-body" style="margin-top: -4em">

  <div style="text-align: right">
    <button class="btn-link btn-magnify" (click)="rService.Back()">Back</button>
  </div>
  
  <div class="nav-tabs-navigation" style="margin-top:-3em">
    <div class="nav-tabs-wrapper">
      <ul id="tabs" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#personal" role="tab" aria-expanded="true">Private</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#public" role="tab" aria-expanded="false">Public</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="my-tab-content" class="tab-content text-center">
    <!-- start Here -->

<!----------------------------------------- ENTERPRISE MAIN PRIVATE ---------------------------------->

    <div class="tab-pane active" id="personal" role="tabpanel" aria-expanded="true">

      <div class="col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-12">
            <p class="text-left title card-category" style="color: darkslategray">
              Many other Reports and Metrics are coming up covering all corners of a project, an enterprise and personal life
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <p class="text-left title " style="color: darkslategray">
              <span><a routerLink="/e-personal-r">Personal Reports</a></span>
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <p class="text-left title " style="color: darkslategray">
              <span><a routerLink="/e-deparment-r">Department Reports (Coming Soon)</a></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <p class="text-left title " style="color: darkslategray">
                <span><a routerLink="/e-project-r">Project Reports (Coming Soon)</a></span>
              </p>
            </div>
          </div>
      </div>

      <div class="col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <p class="text-left title " style="color: darkslategray">
              <span><a routerLink="/e-project-r">{{rService.EnterpriseName}} Level Reports (Coming Soon)</a></span>
            </p>
          </div>
        </div>
      </div>
   
    </div>
<!------------------------------------------- ENTERPRISE MAIN PUBLIC --------------------------------------------->
  
<div class="tab-pane" id="public" role="tabpanel" aria-expanded="true">
      
      <div class="col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-12">
            <p class="text-left title card-category" style="color: darkslategray">
              Many other Reports and Metrics are coming up covering all corners of a project, an enterprise and personal life
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <p class="text-left title " style="color: darkslategray">
              <span><a routerLink="/e-deparment-r">Department Reports (Coming Soon)</a></span>
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <p class="text-left title " style="color: darkslategray">
              <span><a routerLink="/e-project-r">Project Reports (Coming Soon)</a></span>
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-12 ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <p class="text-left title " style="color: darkslategray">
                <span><a routerLink="/e-project-r">{{rService.EnterpriseName}} Level Reports (Coming Soon)</a></span>
              </p>
            </div>
          </div>
        </div>
       
      </div>
    
    </div>
    
    <!-- End Here -->
  </div>
</div>