<!-- <nav class="navbar navbar-transparent navbar-absolute">
  <div class="container">
  </div>
</nav> -->
<div class="full-page register-page section-image" filter-color="black" data-image="./assets/img/bg/markus-spiske-187777.jpg">
  <div class="wrapper wrapper-full-page">
    <!-- <div class="login-page" style=""> -->
      <div class="content" style="padding-top: 0px;">
        <div class="container" style=" margin-top: 20px">
          <div class="row">
            <div class="col-md-2 col-md-offset-1">
              <div class="logo" style="width: 62px; height: auto; padding: top 0em; padding-bottom:1.5em">
                <div class="logo-imgn">
                  <img src="./assets/img/faces/colours_icon3.png" />
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-8 col-md-offset-1"><!--  reg_info -->
              <div class="media reg-col btn-magnify">
                <div class="contents">
                  <div class="contents">
                    <div class="media-body">

<div class="icon icon-danger">
  <p>
    <font size="4">
      <i class="nc-icon nc-badge"></i>
      Colours Personal</font>
    <br>
    <small><span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <font size="3">
        my true colours</font></span>
    </small>
  </p>
</div>


                      <!-- <div class="image">
                        <div class="logo" style="width: auto; height: 180px; padding: top 0em; padding-bottom:1.5em">
                          <div class="">
                            <img src="./assets/img/personal2.png" />
                          </div>
                        </div>
                      </div> -->
                      <p> <!--  class="text-success" -->
                        <span *ngIf="!show1">
                          <font size="3" style="color:#5f9ea0">Track your activities</font> <br><small><button class="primary btn-link" (click)="run1()">click to see more...</button></small>
                        </span>
                        <span *ngIf="show1">
                          <font size="3" style="color:#5f9ea0">
                            Squeeze more and better results out of your life by tracking and improving tremendously on your own productivity
                            metrics. While at it, also compile and publish your own productivity metrics profile on Colours Marketplace, for a
                            chance to be spotted by new employers.
                          </font>
                        </span><br><small><button class="primary btn-link"*ngIf="showless" (click)="showLess()">click to see showless...</button></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="media reg-col btn-magnify">
                <div class="contents">
                  <div class="contents">
                    <div class="media-body">
                      <!-- <div class="image">
                        <div class="logo" style="width: auto; height: auto; padding: top 0em; padding-bottom:1.5em">
                          <div class="logo-imgn">
                            <img src="./assets/img/projects.png" />
                          </div>
                        </div>
                      </div> -->


<div class="icon icon-warning">
  <p>
    <font size="4">
      <i class="nc-icon nc-chart-bar-32"></i>
      Colours Project</font>
    <br>
    <small>
      <span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
      <font size="3">
        better than being on the ground</font></span>
    </small>
  </p>
</div>


                      <p>
                        <span *ngIf="!showmoreP">
                          <font size="3" style="color:#5f9ea0">See whats happening on your projects</font> <br><small><button class="primary btn-link" (click)="projectShowMore()">click to see more...</button></small>
                        </span>
                        <span *ngIf="showmoreP" rel="tooltip" title="scroll down to readmore">
                          <font size="3" style="color:#5f9ea0">
                            Get more & better results from your projects. See whats happening on the ground across all your projects, real-time,
                            from your mobile and from anywhere in the world. See and improve on your project performance metrics. Compile and
                            publish your projects productivity metrics profile on Colours Marketplace to find new business. Also find good
                            performing service providers on Colours Marketplace.
                          </font>
                        </span><br><small><button class="primary btn-link"*ngIf="showlessP" (click)="projectShowLess()">click to see showless...</button></small>
                      </p>
                      <!-- <p>
                        <span>
                          <font size="2">
                            (ii) Use Colours to put together your project performance proﬁle. Get access to new potential
                            clients and markets by
                            posting your project performance proﬁle onto Colours Marketplace.
                          </font>
                        </span>
                      </p> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="media reg-col">
                <div class="contents">
                  <div class="media-body">
                    <!-- <div class="image">
                        <div class="logo" style="width: auto; height: auto; padding: top 0em; padding-bottom:1.5em">
                          <div class="logo-imgn">
                            <img src="./assets/img/enterprises.png" />
                          </div>
                        </div>
                      </div> -->

<div class="icon icon-info">
  <p>
    <font size="4">
      <i class="nc-icon nc-chart-pie-36"></i>
      Colours Enterprise </font>
    <br>
    <small><span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <span>.</span>
      <font size="3">
        What colour is your bottomline?</font></span>
    </small>
  </p>
</div>


                    <p>
                      <span *ngIf="!showmoreE">
                          <font size="3" style="color:#5f9ea0">See whats happening on your Enterprise</font> <br><small><button class="primary btn-link" (click)="compShowMore()">click to see more...</button></small>
                        </span>
                      <span *ngIf="showmoreE">
                        <font size="3" style="color:#5f9ea0">
                          Getter more & better results from your enterprise. See whats happening across your enterprise in real time, from your
                          mobile, and from anywhere in the world. Compile, review and improve on your enterprise human capital productivity
                          metrics. Publish your enterprise productivity metrics profile on Colours Marketplace to discover new business. Also
                          Find good and performing Service Providers on the same marketplace.
                        </font>
                      </span><br><small><button class="primary btn-link"*ngIf="showlessE" (click)="compShowLess()">click to see showless...</button></small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 card"  style="background-color: transparent;">
              <form method="#" action="#">
                <div class="card card-plain">
                  <div class="content">
                    <style>
                      .clrs-logo{
                          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                          /* font-family: AR ESSENCE; */
                          /* color: steelblue; */
                          font-size: 30px;
                          backface-visibility: visible
                      }
                      .na-am{
                        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                          font-size: 20px;

                      }
                    </style>
                    <div class="card-content">
                        <h4 style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0"><span class="clrs-logo">Sign-in to Colours</span>
                        </h4>
                      
                        <h4 class="card-category na-am" style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0"><small>Login/Register using google, twitter or facebook</small>
                        </h4>
                        <div class="social">
                          <button class="btn btn-icon btn-round btn-twitter">
                            <i class="fa fa-twitter"></i>
                          </button>
                          <button class="btn btn-icon btn-round btn-google" (click)="loginGoogle()">
                            <i class="fa fa-google"></i>
                          </button>
                          <button class="btn btn-icon btn-round btn-facebook">
                            <i class="fa fa-facebook-f"></i>
                          </button>
                          <!-- <p class="card-description"> or be classical </p> -->
                        </div>
                    </div>
                    <div *ngIf="showemailLogin">
                      <h4 class="card-category na-am" style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0"><small>login using email</small>
                      </h4>
                      <div class="link">
                        <button type="text" class="btn-link" style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0" (click)="emailRegister()"> <!-- routerLink="/pages/register" -->
                          New to Colours, register using email
                        </button>
                      </div>
                      <form #f="ngForm" >                  
                        <div class="card-body ">
                          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}"  style="background-color: transparent;">
                            <div class="input-group-prepend" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                              <span class="input-group-text">
                                <i class="nc-icon nc-single-02"></i>
                              </span>
                            </div>
                            <input type="email" class="form-control" placeholder="email address..." (focus)="focus=true" style="padding-top: 0px;padding-bottom: 0px; height: 32px;" (blur)="focus=false">
                          </div>
                          <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                              <span class="input-group-text">
                                <i class="nc-icon nc-key-25"></i>
                              </span>
                            </div>
                            <input type="password" placeholder="Password" class="form-control" (focus)="focus1=true" style="padding-top: 0px;padding-bottom: 0px; height: 32px;" (blur)="focus1=false">
                          </div>
                          <div class="card-footer text-left card-category">
                            <a href="#pablo" class="btn btn-info btn-link btn-round" style="color:#5f9ea0">Login</a>
                          </div>
                          <br>
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign"></span>
                                Subscribe to newsletter
                              </label>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div *ngIf="showEmailRegister">
                      <h4 class="card-category na-am" style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0"><small>Register using email</small>
                      </h4>
                      <div class="link">
                        <button type="text" class="btn-link"  style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0" (click)="emailLogin()"> <!-- routerLink="/pages/register" -->
                          Not new Colours, login using email
                        </button>
                      </div>
                      <form #f="ngForm" >                  
                        <div class="card-body ">
                          <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                              <span class="input-group-text">
                                <i class="nc-icon nc-single-02"></i>
                              </span>
                            </div>
                            <input type="email" class="form-control" placeholder="email address..." (focus)="focus=true" style="padding-top: 0px;padding-bottom: 0px; height: 32px;" (blur)="focus=false">
                          </div>
                          <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                              <span class="input-group-text">
                                <i class="nc-icon nc-key-25"></i>
                              </span>
                            </div>
                            <input type="password" placeholder="Password" class="form-control" (focus)="focus1=true" style="padding-top: 0px;padding-bottom: 0px; height: 32px;" (blur)="focus1=false">
                          </div>
                          <div class="card-footer text-left card-category">
                            <a href="#pablo" class="btn btn-info btn-link btn-round" style="color:#5f9ea0">Sign up</a>
                          </div>
                          <br>
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-sign"></span>
                                Subscribe to newsletter
                              </label>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>