<div class="main-content" *ngIf="afAuth.user | async as user">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="card col-lg-12">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <!-- <h3>Some Title Here</h3> -->
                <h5 class="title na-am">Search Company<br><small>by filtering...</small></h5>
                <div class="card ">
                  <div class="card-body">
                    <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home" (click)="clearSearchData()" role="tab" aria-expanded="true">Search
                              by Location</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile" (click)="clearSearchData()" role="tab" aria-expanded="false">Sector</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="my-tab-content" class="tab-content text-center">
                      <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                        <div class="card-body ">
                          <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                              <form class="form-horizontal">
                                <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="searchData" name="location_input"
                                    placeholder="Enter location">
                                </div>
                              </form>
                            </div>
                            <div class="col-md-4 card-footer ">
                              <button type="submit" class="info btn-link" (click)="search('location', searchData);showTable()">Search</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">
                        <div class="card-body ">
                          <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                              <form class="form-horizontal">
                                <div class="form-group">
                                  <input type="text" [(ngModel)]="searchData" name="sector_input" class="form-control"
                                    placeholder="Input sector">
                                </div>
                              </form>
                            </div>
                            <div class="col-md-4 card-footer ">
                              <button type="submit" class="info btn-link" (click)="search('sector', searchData);showTable()">Search</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="showSearch">
                <div class="col-sm-6">
                  <h5 class="title na-am" style="margin-left: 15px;">Company search results</h5>                  
                  <div class="card-body ">
                    <p class="sma na-p">Companies in {{ searchData }} </p>                    
                    <div class="table-responsive cont scrol-em">
                      <table class="table">
                        <thead class="card-category info">
                          <th class="text-left">Name</th>
                          <th class="text-left">Sector</th>
                          <th class="text-left">Location</th>
                          <th>Action</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let enterprise of viewCompanies | async ">
                            <td class="text-left tab-cell">{{ enterprise.name }} </td>
                            <td class="text-left tab-cell">{{ enterprise.sector }}</td>
                            <td class="text-left tab-cell">{{ enterprise.location }}</td>
                            <td class="text-center">
                              
                              <!-- <button class="success btn-link join" rel="tooltip" title="Connect to {{enterprise.name}}"
                                (click)="selectCompany(enterprise)" data-toggle="modal" data-target="#deptModal">
                                <font size=2>select</font>
                              </button> -->
                              <button hidden  style=" 
                              padding-top: 2px;
                              padding-bottom: 2px;
                              padding-left: 13px;
                              padding-right: 13px;"
                              class="btn btn-outline-primary btn-round" rel="tooltip" title="Connect to {{enterprise.name}}"
                              (click)="selectCompany(enterprise)" data-toggle="modal" data-target="#deptModal">
                              <small><b>Join</b></small>
                              </button>

                              <button style=" 
                              white-space: nowrap;
                              padding-top: 2px;
                              padding-bottom: 2px;
                              padding-left: 13px;
                              padding-right: 13px;"
                              class="btn btn-outline-primary btn-round" rel="tooltip" title="Connect to {{enterprise.name}}"
                              (click)="selectCompany(enterprise)" data-toggle="modal" data-target="#deptModal">
                              <small><b>Request Sent</b></small>
                              </button>

                              <button hidden  style=" 
                              padding-top: 2px;
                              padding-bottom: 2px;
                              padding-left: 13px;
                              padding-right: 13px;"
                              class="btn btn-outline-primary btn-round" rel="tooltip" title="Connect to {{enterprise.name}}"
                              (click)="selectCompany(enterprise)" data-toggle="modal" data-target="#deptModal">
                              <small><b>Member</b></small>
                              </button>
                            <!-- </td> -->
                          </tr>
                        </tbody>
                      </table>
                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header justify-content-center">
                              <div class="modal-profile ml-auto mr-auto text-warning">
                                <i class="nc-icon nc-bulb-63"></i>
                              </div>
                            </div>
                            <div class="modal-body">
                              <p>Send connect request to <b class="primary-color">{{ (selectedCompany)?.name }}</b></p>
                            </div>
                            <div class="modal-footer">
                              <div class="left-side">
                                <button type="button" class="btn btn-link btn-link" data-dismiss="modal">Close</button>
                              </div>
                              <div class="divider"></div>
                              <div class="right-side">
                                <button type="button" class="btn btn-link btn-link" (click)="sendRequest()" data-dismiss="modal"> send request</button><!--  (click)="connect2Enterprise(selectedCompany) -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="TestdeptModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <div class="card-header text-center">
          <p>Company selected <b class="primary-color">{{ (selectedCompany)?.name }}</b></p>
          <div *ngIf="showDpt">
            <p>You are joining {{department.name}} department</p>
            <button type="text" name="department_name" class="primary btn-link "
              (click)="toggleUsersTable()">Change department 
              <i class="fa fa-edit fa-fw"></i>
            </button>
          </div>
        </div>
        <hr>
        <form class="form-horizontal">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="form-group">
                <ng-container *ngIf="showUserTable">
                    <code>Select a Department</code>
                    <div class="table-responsive">
                      <table class="table text-left">
                        <thead class="card-category">
                          <th>Department</th>
                          <th>Action</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dept of viewDepartments | async" style="border-bottom: darkslategrey">
                            <td class="td-clrs" style="padding-left: 1em">{{ dept.name }}</td>
                            <td class="td-clrs">
                              <button class="warning btn-link select" rel="tooltip" title="Select Department"(click)="selectDepartment(dept)">select</button>
                              <!-- <a class="btn danger btn-link btn-icon btn-sm remove" (click)="deleteDept(dept)"><i
                                  class="fa fa-times"></i></a> -->
                            </td>
                            <hr>
                          </tr>

                          <div class="AddDpt">
                            <!-- <form action=""> -->
                              <div class="spacer" style="height:2em"></div>
                              <input class="form-control" placeholder="Add Department" type="text" [(ngModel)]="dpt.name" name="dpt_name">
                              <!-- {{ today }} -->
                              <button class="primary btn-link" (click)="saveDpt(dpt)">save</button>
                          <!-- </form> -->
                          </div>
                        </tbody>
                      </table>
                    </div>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" (click)="connect2Enterprise()" data-dismiss="modal" title="join Comapny">Join</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deptModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" (click)="resetForm()" aria-label="Close">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <p class="title-up na-am">Joining <b>{{ (selectedCompany)?.name }}</b> Company.<br>
      </div>
      <div class="modal-body">
        <span *ngIf="showDpt" class="card-category"></span>
          <ng-container *ngIf="show">
            <code>Select a Department</code>
            <div class="table-responsive">
              <table class="table text-left">
                <thead class="card-category">
                  <th>Department</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let dept of viewDepartments | async" style="border-bottom: darkslategrey">
                    <td class="td-clrs" style="padding-left: 1em">{{ dept.name }}</td>
                    <td class="td-clrs">
                      <button class="warning btn-link select" rel="tooltip" title="Select Department"(click)="hideDepartmentsTable(dept)">select</button>
                    </td>
                    <hr>
                  </tr>
                  <div class="">
                    <div class="spacer" style="height:2em"></div>
                    <input class="form-control" placeholder="Add Department" type="text" [(ngModel)]="dpt.name">
                    <button class="primary btn-link" (click)="saveDept(dpt)">save</button>
                  </div>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="showText">
            <div class="row">
              <label class="col-md-3 col-form-label">Department</label>
              <div class="col-md-9">
                <div class="form-group">
                  <ng-select [items]="departmentsArray" bindLabel="name" placeholder="Select Department" [(ngModel)]="department">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Address</label>
              <div class="col-md-9">
                <div class="form-group">
                    <input type="text" [(ngModel)]="myData.address" name="enterprise_location" class="form-control" placeholder="e.g. House#, street, location ,Town">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Phone</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" [(ngModel)]="myData.phoneNumber" name="enterprise_phoneNumber"
                      class="form-control" placeholder="e.g. 077 3273 876">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Email</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="email" [(ngModel)]="myData.bus_email" name="enterprise_location"
                      class="form-control" placeholder="e.g. name@bus_email.com">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Nation</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" [(ngModel)]="myData.nationality" name="enterprise_location" class="form-control" placeholder="e.g. Zimbabwe">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">National ID</label>
              <div class="col-md-9">
                <div class="form-group">
                    <input type="text" [(ngModel)]="myData.nationalId" name="enterprise_location" class="form-control" placeholder="e.g. N7388-039200 ">
                </div>
              </div>
            </div>
          </ng-container>
      </div>
      <div class="modal-footer" style="margin-bottom:0%">
        <div class="left-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success btn-link" (click)="sendRequest()" data-dismiss="modal" title="join Comapny"> Send request</button><!--  (click)="connect2Enterprise()"  -->
        </div>
      </div>
    </div>
  </div>
</div>