table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

input[type="date"] {
    color:blue;
    font-weight:bold;
    font-size:14px;
    font-family:sans-serif;
    width:140px;
}

td, td0, td1, td2, td3, td4, th {
    border: 1px solid #070707;
    padding: 8px;
}