<div id="accordionActionData" role="tablist" aria-multiselectable="true" class="card-collapse">
    <ol>
        <li class="" style="color:steelblue" *ngFor="let item of viewActions | async">
            <div class="card card-plain">
                <div class="card-header" role="tab" id="heading2">
                    <a class="collapsed" data-toggle="collapse" href="#{{ item.id }}" (click)="showTaskActions(item)"
                        aria-expanded="false" aria-current="false">
                        {{ item.name }}<span class="label text-warning"> {{ item.when }}</span><i class="nc-icon nc-minimal-down"></i>
                    </a>
                </div>
                <div id="{{ item.id }}" class="collapse" data-parent="#accordionActionData" role="tabpanel" aria-labelledby="heading2">
                    <div class="card-body">
                        
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                                <div class="form-group">
                                    <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.start" style=" padding-left: 10px; padding-right: 10px; height:2em"
                                        placeholder="Time from" />
                                </div>
                            </div>
                            <div class="col-sm-2" style="padding-left: 5px; padding-right:5px">
                                <div class="form-group">
                                    <input type="time" class="form-control panel-boader timepicker" [(ngModel)]="item.end" style=" padding-left: 10px; padding-right: 10px;  height:2em"
                                        placeholder="Time to" />
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <button class="btn-link btn-round primary" (click)="selectTask(item)" data-toggle="modal"
                        data-target="#newAction">
                        <small>Add action item</small></button>
                </div>
            </div>
        </li>
    </ol>
</div>




<div aria-multiselectable="true" class="card-collapse" id="accordion" role="tablist">
    <div class="card card-plain">
        <div class="card-header" id="heading2" role="tab"><a (click)="setDay('day0')" aria-controls="day0t"
                aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#day0t">
                {{ day0label }} <i class="nc-icon nc-minimal-down"></i></a></div>
        <div aria-labelledby="heading2" class="collapse" id="day0t" role="tabpanel">
            <div class="card-body">
                <!-- {{todayDate}} -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-left">Name</th>
                            <th class="text-center">Project</th>
                            <!-- <th class="text-center">Champion</th> -->
                            <th class="text-right">Start Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tss of todayTasks | async">
                                <td class="text-left td-clrs">{{ tss.name }}</td>
                                <td class="text-left td-clrs">{{ tss.projectName }}</td>
                                <!-- <td class="text-left td-clrs">{{ tss.champion.name }}</td> -->
                                <td class="text-right td-clrs">{{ tss.start | date }}</td>
                            </tr>
                            <tr class="text-left">
                                <button rel="tooltip" title="click to create a task" class="btn-link" data-toggle="modal"
                                    data-target="#tskModal">New
                                    Task</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-plain">
        <div class="card-header" id="heading2" role="tab"><a (click)="setDay('day1')" aria-controls="day1t"
                aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#day1t">
                {{ day1label }} <i class="nc-icon nc-minimal-down"></i></a></div>
        <div aria-labelledby="heading2" class="collapse" id="day1t" role="tabpanel">
            <div class="card-body">
                <!-- {{todayDate}} -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-left">Name</th>
                            <th class="text-center">Project</th>
                            <!-- <th class="text-center">Champion</th> -->
                            <th class="text-right">Start Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tss of day1Tasks | async">
                                <td class="text-left td-clrs">{{ tss.name }}</td>
                                <td class="text-left td-clrs">{{ tss.projectName }}</td>
                                <!-- <td class="text-left td-clrs">{{ tss.champion.name }}</td> -->
                                <td class="text-right td-clrs">{{ tss.start | date }}</td>
                            </tr>
                            <tr class="text-left">
                                <button rel="tooltip" title="click to create a task" class="btn-link" data-toggle="modal"
                                    data-target="#tskModal">New
                                    Task</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-plain">
        <div class="card-header" id="heading3" role="tab"><a (click)="setDay('day2')" aria-controls="day2t"
                aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#day2t">
                {{ day2label }} <i class="nc-icon nc-minimal-down"></i></a></div>
        <div aria-labelledby="heading3" class="collapse" id="day2t" role="tabpanel">
            <div class="card-body">
                <!-- {{todayDate}} -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-left">Name</th>
                            <th class="text-center">Project</th>
                            <!-- <th class="text-center">Champion</th> -->
                            <th class="text-right">Start Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tss of day2Tasks | async">
                                <td class="text-left td-clrs">{{ tss.name }}</td>
                                <td class="text-left td-clrs">{{ tss.projectName }}</td>
                                <!-- <td class="text-left td-clrs">{{ tss.champion.name }}</td> -->
                                <td class="text-right td-clrs">{{ tss.start | date }}</td>
                            </tr>
                            <tr class="text-left">
                                <button rel="tooltip" title="click to create a task" class="btn-link" data-toggle="modal"
                                    data-target="#tskModal">New
                                    Task</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-plain">
        <div class="card-header" id="heading4" role="tab"><a (click)="setDay('day3')" aria-controls="day3t"
                aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#day3t">
                {{ day3label }} <i class="nc-icon nc-minimal-down"></i></a></div>
        <div aria-labelledby="heading4" class="collapse" id="day3t" role="tabpanel">
            <div class="card-body">
                <!-- {{todayDate}} -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-left">Name</th>
                            <th class="text-center">Project</th>
                            <!-- <th class="text-center">Champion</th> -->
                            <th class="text-right">Start Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tss of day3Tasks | async">
                                <td class="text-left td-clrs">{{ tss.name }}</td>
                                <td class="text-left td-clrs">{{ tss.projectName }}</td>
                                <!-- <td class="text-left td-clrs">{{ tss.champion.name }}</td> -->
                                <td class="text-right td-clrs">{{ tss.start | date }}</td>
                            </tr>
                            <tr class="text-left">
                                <button rel="tooltip" title="click to create a task" class="btn-link" data-toggle="modal"
                                    data-target="#tskModal">New
                                    Task</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-plain">
        <div class="card-header" id="heading4" role="tab"><a (click)="setDay('day4')" aria-controls="day4t"
                aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#day4t">
                {{ day4label }} <i class="nc-icon nc-minimal-down"></i></a></div>
        <div aria-labelledby="heading4" class="collapse" id="day4t" role="tabpanel">
            <div class="card-body">
                <!-- {{todayDate}} -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-left">Name</th>
                            <th class="text-center">Project</th>
                            <!-- <th class="text-center">Champion</th> -->
                            <th class="text-right">Start Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tss of day4Tasks | async">
                                <td class="text-left td-clrs">{{ tss.name }}</td>
                                <td class="text-left td-clrs">{{ tss.projectName }}</td>
                                <!-- <td class="text-left td-clrs">{{ tss.champion.name }}</td> -->
                                <td class="text-right td-clrs">{{ tss.start | date }}</td>
                            </tr>
                            <tr class="text-left">
                                <button rel="tooltip" title="click to create a task" class="btn-link" data-toggle="modal"
                                    data-target="#tskModal">New
                                    Task</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-plain">
        <div class="card-header" id="heading4" role="tab"><a (click)="setDay('day5')" aria-controls="day5t"
                aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#day5t">
                {{ day5label }} <i class="nc-icon nc-minimal-down"></i></a></div>
        <div aria-labelledby="heading4" class="collapse" id="day5t" role="tabpanel">
            <div class="card-body">
                <!-- {{todayDate}} -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-left">Name</th>
                            <th class="text-center">Project</th>
                            <!-- <th class="text-center">Champion</th> -->
                            <th class="text-right">Start Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tss of day5Tasks | async">
                                <td class="text-left td-clrs">{{ tss.name }}</td>
                                <td class="text-left td-clrs">{{ tss.projectName }}</td>
                                <!-- <td class="text-left td-clrs">{{ tss.champion.name }}</td> -->
                                <td class="text-right td-clrs">{{ tss.start | date }}</td>
                            </tr>
                            <tr class="text-left">
                                <button rel="tooltip" title="click to create a task" class="btn-link" data-toggle="modal"
                                    data-target="#tskModal">New
                                    Task</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-plain">
        <div class="card-header" id="heading4" role="tab"><a (click)="setDay('day6')" aria-controls="day6t"
                aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#day6t">
                {{ day6label }} <i class="nc-icon nc-minimal-down"></i></a></div>
        <div aria-labelledby="heading4" class="collapse" id="day6t" role="tabpanel">
            <div class="card-body">
                <!-- {{todayDate}} -->
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-left">Name</th>
                            <th class="text-center">Project</th>
                            <!-- <th class="text-center">Champion</th> -->
                            <th class="text-right">Start Date</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tss of day6Tasks | async">
                                <td class="text-left td-clrs">{{ tss.name }}</td>
                                <td class="text-left td-clrs">{{ tss.projectName }}</td>
                                <!-- <td class="text-left td-clrs">{{ tss.champion.name }}</td> -->
                                <td class="text-right td-clrs">{{ tss.start | date }}</td>
                            </tr>
                            <tr class="text-left">
                                <button rel="tooltip" title="click to create a task" class="btn-link" data-toggle="modal"
                                    data-target="#tskModal">New
                                    Task</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>