<h3 id="org0">Personal Reports</h3>

<h3>Participant: 
<span><select id = "name-list0"></select></span>
<span> &nbsp;&nbsp; Hierarchy:</span><span>{{rService.User_Hky}}</span></h3>

<h4>Schedule of Outstanding Tasks as at <span>
		<!-- placeholder will not work, so stuck with dd----yyyyy -->
		<input type="date" id="startdate0">
<button id="btn0" (click)="rService.rostasks_e()">View Oustanding Tasks for selected date</button>
</span></h4>
<!-- Table rows and headings only -->
<table id="TbId0">
    <!-- headings -->
    <tr>
        <th>Task</th>
        <th>Planned Finish Date</th>
        <th>Classification</th>
    </tr>
</table>
