<h2 id="org4">Personal Reports</h2>

<h2>Participant: 
<span><select id = "name-list4"></select></span>
<span> &nbsp;&nbsp; Hierarchy:</span><span id = "hierarchy"></span></h2>

<h3>Schedule of Outstanding Tasks as at <span>
		<!-- placeholder will not work, so stuck with dd----yyyyy -->
		<input type="date" id="startdate4">
<button (click)="rService.rostasks_e()">View Oustanding Tasks for selected date</button>
</span></h3>
<!-- Table rows and headings only -->
<table id="TbId4">
    <!-- headings -->
    <tr>
        <th align="left">Task</th>
        <th align="left">Planned Finish Date</th>
        <th align="left">Classification</th>
    </tr>
</table>
