<div class="main-content">
    <div style="text-align:left;margin-left: 0px">
        <img alt="Colours Logo" width="100" src="../../assets/Colourslogo.png">
    </div>

    <h2 id="UserP0">User</h2>

    <h4>Schedule of Outstanding Tasks as at <span>
            <!-- placeholder will not work, so stuck with dd----yyyyy -->
            <input type="date" id="startdateP0">
    <button (click)="rService.rostasks()">View Oustanding Tasks for selected date</button>
    </span></h4>
    <!-- Table rows and headings only -->
    <table id="TbIdP0">
        <!-- headings -->
        <tr>
            <th>Task</th>
            <th>Planned Finish Date</th>
            <th>Classification</th>
        </tr>
    </table>
</div>