<div class="main-content" style="margin-top:75px;">
  <div class="row">
    <div class="col-lg-4 col-sm-6 dash">
      <div class="card">
        <div class="btn-magnify">
          <div class="row col-md-12" style="margin-left:1em; padding-bottom: -1em ">
            <div class="pull-left card-category clrs-h1-font">
              <a routerLink="/tasks-24/7" style="color:#333366"><i class="nc-icon nc-palette"></i> Colours Personal</a>
            </div>
          </div>
          <div class="pull-left col-md-10" style="margin-left:1em;padding-top: -1em; color: steelblue ">
            <a>My Diary Today</a>
          </div>
          <div class="spacer" style="height: 2.4em;"></div>
          <div class="row" style="height: 100px; width: max-content">
            <div id="container">
              <div class="content container scroll-em" *ngIf="actionNo !== 0">
                <ol style="list-style-type:none;padding-left: 12px;">
                  <li *ngFor="let event of stdWorks">
                    <div class="col-sm-12" style="margin-left: 2px; margin-right:-.5em">
                      <a class="nameCol" style="color:slategrey" [ngStyle]="{color: event.txtColours}">
                        <span class="row">
                          <span class="label text-warning" style="width: 4em; padding-left: 1em"> {{ event.start }}</span>
                          <span class="nameCol" style="color:#333366;padding-left: 0.5em"> {{ event.name }}</span>
                        </span>
                      </a>
                    </div>
                  </li>
                </ol>
              </div>
              <div class="content container scroll-em" *ngIf="actionNo == 0">
                <div class="row">
                  <div class="col-sm-12" style="margin-left:-.5em; margin-right:-.5em">
                    <ol style="list-style-type:none;">
                      <li>
                        <!-- <div class="row"> -->
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Meeting</span>
                          <span class="col-md-3 mr-auto number text-warning"> 1000 hrs</span>
                        </a>
                        <!-- </div> -->
                      </li>
                      <li>
                        <!-- <div class="row"> -->
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Email</span>
                          <span class="col-md-3 mr-auto ml-auto number text-success">1230 Hrs</span>
                        </a>
                        <!-- </div> -->
                      </li>
                      <li>
                        <!-- <div class="row"> -->
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Skype</span>
                          <span class="col-md-3 mr-auto ml-auto label text-success"> 1400 Hrs </span>
                        </a>
                        <!-- </div> -->
                      </li>
                      <li>
                        <!-- <div class="row "> -->
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Scheduling</span>
                          <span class="col-lg-3 mr-auto ml-auto label text-success"> 0800 Hrs </span>
                        </a>
                        <!-- </div> -->
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer" style="padding-top: 0px; padding-bottom: 0px;">
            <hr style="margin-bottom: 0px;">
          </div>
        </div>
        <br>
        <h6 class="big-title" style="padding-bottom: 0px; margin-bottom: 0px;"><u>My Diary Clock</u></h6>
        <app-pie-one style=" align-self: center;"></app-pie-one>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title">View more.....</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <a class="btn btn-success btn-round btn-icon btn-sm" routerLink="/set-up"> <!-- (click)="gotoTask247()" -->
                  <i class="nc-icon nc-simple-add"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 dash">
      <div class="card">
        <div class="card-content btn-magnify">
          <div class="col-sm-12 ml-auto mr-auto" style="padding-bottom: -1em ">
            <div class="clrs-h1-font">
              <a><i class="fa fa-folder-o [&#xf114;]"></i> Colours Project</a>
            </div>
            <div class="text-left" style="padding-top: -1em; color: steelblue; ">
              <a>My Current Priority Projects</a>
            </div>
          </div>
          <div class="spacer" style="height: 1em;"></div>
          <div id="pTasklist">
            <ng-template #showPDemo>
              <div class="content container scroll-em" style="height: 100px; color:#333366">
                <ol style="list-style-type:none;">
                  <li>
                    <!-- <div class="row"> -->
                      <div class="col-xs-10 " style="margin-left:2.0em">
                        <a class="" style="color:#333366" href="#send_agenda">
                          Project one
                        </a>
                      </div>
                    <!-- </div> -->
                  </li>
                  <li>
                    <!-- <div class="row"> -->
                      <div class="col-xs-10 " style="margin-left:2.0em">
                        <a class="" style="color:#333366" href="#send_agenda">
                          Project two
                        </a>
                      </div>
                    <!-- </div> -->
                  </li>
                  <li>
                    <!-- <div class="row"> -->
                      <div class="col-xs-10 " style="margin-left:2.0em">
                        <a class="" style="color:#333366" href="#send_agenda">
                          Project three
                        </a>
                      </div>
                    <!-- </div> -->
                  </li>
                  <li>
                    <!-- <div class="row"> -->
                      <div class="col-xs-10 " style="margin-left:2.0em">
                        <a class="" style="color:#333366" href="#send_agenda">
                          Project four
                        </a>
                      </div>
                    <!-- </div> -->
                  </li>
                </ol>
              </div>
            </ng-template>
            <div class="content container scroll-em" style="height: 100px" *ngIf="viewProjects.length !== 0 ; else showPDemo">
              <ol style="list-style-type:none;">
                <!-- <li class="setLists col-xs-12 ml-auto mr-auto" style="color:steelblue" *ngFor="let project of allMyProjects | async"><a -->
                <li class="setLists col-xs-12 ml-auto mr-auto" *ngFor="let project of viewProjects">
                  <a class="nameCol" [routerLink]="[ '/projects/', project.id ]"  style="color:#333366"><!--  style="color:slategray" -->
                    <span class="nameCol">{{ project.name }}</span>
                  </a>
                </li>
              </ol>
            </div>
          </div>
          <div class="card-footer" style="padding-top: 0px; padding-bottom: 0px;">
            <hr style="margin-bottom: 0px;">
          </div>
        </div>
        <br>
        <h6 class="big-title" style="padding-bottom: 0px; margin-bottom: 0px;"><u>Most Productive Projects</u></h6>
        <app-pie-one style=" align-self: center;"></app-pie-one>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title">View more details</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <a class="btn btn-danger btn-round btn-icon btn-sm" routerLink="/projects/p-create"><!-- (click)="gotoProject()" -->
                  <i class="nc-icon nc-button-play"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 dash">
      <div class="card">
        <div class="card-content btn-magnify">
          <div class="col-sm-12 ml-auto mr-auto" style="padding-bottom: -1em ">
            <div class="clrs-h1-font">
              <a><i class="nc-icon nc-globe-2"></i> Colours Enterprise</a>
            </div>
            <div class="text-left" style="padding-top: -1em; color: steelblue; ">
              <a>High Priority Enterprise Tasks</a>
            </div>
          </div>
          <div class="spacer" style="height: 1em;"></div>
          <div id="eTasklixt">
            <div class="content container scroll-em" style="height: 100px">
              <ol style="list-style-type:none;">
                <li>
                  <div class="col-xs-10 " style="margin-left: 2em">
                    <a style="color:#333366">
                      Send Agenda
                    </a>
                  </div>
                </li>
                <li>
                  <div class="col-xs-10" style="margin-left:2em">
                    <a href="#Respond_to_mail" style="color:#333366">
                      Respond to Mail
                    </a>
                  </div>
                </li>
                <li>
                  <div class="col-xs-10" style="margin-left:2em">
                    <a href="#Contact_Supplier" style="color:#333366">
                      Contact Supplier
                    </a>
                  </div>
                </li>
                <li>
                  <div class="col-xs-10" style="margin-left:2em">
                    <a href="#Aripo" style="color:#333366">
                      Send Memo
                    </a>
                  </div>
                </li>
              </ol>
            </div>
          </div>
          <div class="card-footer" style="padding-top: 0px; padding-bottom: 0px;">
            <hr style="margin-bottom: 0px;">
          </div>
        </div>
        <br>
        <h6 class="big-title" style="padding-bottom: 0px; margin-bottom: 0px;"><u>Current Company Productivity</u></h6>
          <app-line-one style=" align-self: center;"></app-line-one>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title">View more details</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <a class="btn btn-warning btn-round btn-icon btn-sm" routerLink="/enterprises/create"><!-- (click)="gotoCompany()" -->
                  <i class="nc-icon nc-alert-circle-i"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: -1em;">
    <div class="col-md-12">
      <div class="card card-stats">
        <div class="card-body" style="padding-top: 0px;">
          <div class="row" style="height: 66px;">
            <div class="col-5 col-md-8">
              <div class="icon-big pull-left icon-warning" style="left:3em">
                <!-- <p> -->
                  <i class="fa fa-rss text-warning" style="font-size:24px">....</i>
                  <span style="font-size:22px">Colours Marketplace News Feeds</span>
                <!-- </p> -->
              </div>
            </div>
            <div class="col-8 col-md-8">
              <div class="numbers">

              </div>
            </div>
          </div>
        </div>
        <div class="card" data-background-color="blue" *ngIf="projs2No != 0">
          <marquee>
            <a *ngFor="let project of marketProjects" style="color:rgb(35, 41, 49)" routerLink="#" [ngStyle]="{color: project.txtColours}" >
              A New Project Has Been Created. Location: {{ project.location }}. Sector: {{ project.sector }}. . . . . . . <span class="spacer" style="widows: 10px;"></span></a> <!--  in {{project.sector}}  -->
          </marquee>
        </div>
        <div class="card" data-background-color="blue" *ngIf="projs2No == 0">
          <marquee>
            <a  style="color:rgb(35, 41, 49)" routerLink="#">
              <i>Welcome to Colours Market place, this is where you will get all latest Colours Production News Feeds. . . . . . .</i> <span class="spacer" style="widows: 10px;"></span></a> <!--  in {{project.sector}}  -->
          </marquee>
        </div>
      </div>
    </div>
  </div>
</div>