<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
    <!-- <div class="col-xs-3 col-sm-4 dash-col-left"> -->
      <div class="card card-category">
        <div class="btn-magnify">
          <div class="row col-md-12" style="margin-left:1em; padding-bottom: -1em ">
            <div class="pull-left card-category clrs-h1-font">
              <a>
                <i class="nc-icon nc-palette"></i> Colours Personal</a>
            </div>
          </div><br>
          <div class="pull-left col-md-10" style="margin-left:1em;padding-top: -1em; color: steelblue ">
            <a>My Diary Today</a>
          </div>
          <div class="spacer" style="height: 2.4em;"></div>
          <div class="row" style="height: 100px; width: max-content">
            <div id="container">
              <!-- <div class="content container scroll-em" *ngIf="showActions"> -->
              <div class="content container scroll-em" *ngIf="actionNo !== 0">
                <ol style="list-style-type:none;padding-left: 12px;">
                  <li class="" style="color:steelblue" *ngFor="let event of maActivities">
                    <!-- <div class="row"> -->
                    <div class="col-sm-12" style="margin-left: 2px; margin-right:-.5em">
                      <!-- margin-left:1.0em; -->
                      <a style="color:slategrey"  [ngStyle]="{color: event.txtColours}">
                      <span class="label text-warning"> {{ event.start }}</span> {{ event.name }}
                      </a>
                    </div>
                    <!-- </div> -->
                  </li>
                </ol>
              </div>
              <!-- <div class="content container scroll-em" *ngIf="hideActions"> -->
              <div class="content container scroll-em" *ngIf="actionNo == 0">
                <div class="row">
                  <div class="col-sm-12" style="margin-left:-.5em; margin-right:-.5em">
                    <ol>
                      <li>
                        <!-- <div class="row"> -->
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Meeting</span>
                          <span class="col-md-3 mr-auto number text-warning"> 1000 hrs</span>
                        </a>
                        <!-- </div> -->
                      </li>
                      <li>
                        <!-- <div class="row"> -->
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Email</span>
                          <span class="col-md-3 mr-auto ml-auto number text-success">1230 Hrs</span>
                        </a>
                        <!-- </div> -->
                      </li>
                      <li>
                        <!-- <div class="row"> -->
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Skype</span>
                          <span class="col-md-3 mr-auto ml-auto label text-success"> 1400 Hrs </span>
                        </a>
                        <!-- </div> -->
                      </li>
                      <li>
                        <!-- <div class="row "> -->
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Scheduling</span>
                          <span class="col-lg-3 mr-auto ml-auto label text-success"> 0800 Hrs </span>
                        </a>
                        <!-- </div> -->
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card-body">
                              <h6 class="big-title">total earnings in last ten quarters</h6>
                              <canvas id="activeUsers" width="auto" height="200"></canvas>
                            </div> -->
        <br>
        <div class="card-body">
          <h6 class="big-title">total earnings in last ten quarters</h6>
          <canvas id="activeUsers" width="826" height="380"></canvas>
        </div>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title">View more.....</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-success btn-round btn-icon btn-sm">
                  <i class="nc-icon nc-simple-add"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4 col-sm-6">
      <div class="card">
        <div class="card-content btn-magnify">
          <div class="col-sm-12 ml-auto mr-auto" style="padding-bottom: -1em ">
            <div class="clrs-h1-font">
              <a><i class="nc-icon nc-palette"></i> Colours Personal</a>
            </div><br>
            <div class="text-left col-md-10" style="padding-top: -1em; color: steelblue; ">
              <a>My Diary Today</a>
            </div>
          </div>
          <div class="spacer" style="height: 1em;"></div>
          <div class="content">
            <div class="content container scroll-em" *ngIf="actionNo != 0" style="height: 100px">
              <ol>
                <li class="setLists col-xs-12 ml-auto mr-auto" style="color:steelblue" *ngFor="let item of myActionItems">
                    <a class="col-md-12" style="color:steelblue; padding-right: 2px;padding-left: 4px;">
                      <span class="col-md-8" style="width:24em;">{{ item.name }} </span>
                      <span *ngIf="item.start" class="pull-right" style="margin-right:2em">
                        <span></span>
                        <span class="number text-warning"><small>  {{ item.start }} hrs</small></span>
                      </span>
                    </a>
                </li>
              </ol>
            </div>
            <div class="content container scroll-em" *ngIf="actionNo == 0">
              <div class="row">
                <div class="col-sm-12" style="margin-left:-.5em; margin-right:-.5em">
                  <ol>
                    <li style="color:steelblue">
                        <a style="color:lightgrey">
                          <span class="col-md-9 col-10 text-info">Meeting</span>
                          <span class="col-md-3 mr-auto number text-warning"> 1000 hrs</span>
                        </a>
                    </li>
                    <li style="color:steelblue">
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Email</span>
                          <span class="col-md-3 mr-auto ml-auto number text-success">1230 Hrs</span>
                        </a>
                    </li>
                    <li style="color:steelblue">
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Skype</span>
                          <span class="col-md-3 mr-auto ml-auto label text-success"> 1400 Hrs </span>
                        </a>
                    </li>
                    <li style="color:steelblue">
                        <a style="color:lightgrey">
                          <span class="col-md-9 text-info">Scheduling</span>
                          <span class="col-lg-3 mr-auto ml-auto label text-success"> 0800 Hrs </span>
                        </a>
                    </li>
                  </ol>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card-body">
          <h6 class="big-title">total earnings in last ten quarters</h6>
          <canvas id="activeUsers" width="826" height="380"></canvas>
        </div>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title">View more details</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-success btn-round btn-icon btn-sm">
                  <i class="nc-icon nc-simple-add"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-lg-4 col-sm-6">
    <!-- <div class="col-xs-3 col-sm-4 dash-col"> -->
      <div class="card">
        <div class="card-content btn-magnify">
          <div class="col-sm-12 ml-auto mr-auto" style="padding-bottom: -1em ">
            <div class="clrs-h1-font">
              <a><i class="fa fa-folder-o [&#xf114;]"></i> Colours Project</a>
            </div><br>
            <div class="text-left" style="padding-top: -1em; color: steelblue; ">
              <a>My Current Priority Projects</a>
            </div>
          </div>
          <div class="spacer" style="height: 1em;"></div>
          <div id="pTasklist">
            <div class="content container scroll-em" style="height: 100px" *ngIf="projsNo == 0">
              <ol>
                <li>
                  <!-- <div class="row"> -->
                    <div class="col-xs-10 " style="margin-left:2.0em">
                      <a class="text-info" style="color:lightgrey" href="#send_agenda">
                        Joina City
                      </a>
                    </div>
                  <!-- </div> -->
                </li>
                <li>
                  <!-- <div class="row"> -->
                    <div class="col-xs-10 " style="margin-left:2.0em">
                      <a class="text-info" style="color:lightgrey" href="#send_agenda">
                        Aripo Offices
                      </a>
                    </div>
                  <!-- </div> -->
                </li>
                <li>
                  <!-- <div class="row"> -->
                    <div class="col-xs-10 " style="margin-left:2.0em">
                      <a class="text-info" style="color:lightgrey" href="#send_agenda">
                        Colours Software
                      </a>
                    </div>
                  <!-- </div> -->
                </li>
                <li>
                  <!-- <div class="row"> -->
                    <div class="col-xs-10 " style="margin-left:2.0em">
                      <a class="text-info" style="color:lightgrey" href="#send_agenda">
                        Beitbridge
                      </a>
                    </div>
                  <!-- </div> -->
                </li>
              </ol>
            </div>
            <div class="content container scroll-em" style="height: 100px" *ngIf="projsNo != 0">
              <ol>
                <!-- <li class="setLists col-xs-12 ml-auto mr-auto" style="color:steelblue" *ngFor="let project of allMyProjects | async"><a -->
                <li class="setLists col-xs-12 ml-auto mr-auto" style="color:steelblue" *ngFor="let project of viewProjects"><a
                    [routerLink]="[ '/projects/', project.id ]" style="color:slategray"><span class="text-info">{{ project.name }}</span></a>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <br>
        <div class="card-body">
          <h6 class="big-title">total subscriptions in last 7 days</h6>
          <canvas id="emailsCampaignChart" width="826" height="380"></canvas>
        </div>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title">View more details</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-danger btn-round btn-icon btn-sm">
                  <i class="nc-icon nc-button-play"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
    <!-- <div class="col-xs-3 col-sm-4 ml-auto mar-auto dash-col-right"> -->
      <div class="card">
        <!-- <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <div class="numbers pull-left">
                8,960
              </div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <span class="badge badge-pill badge-warning">
                  ~51%
                </span>
              </div>
            </div>
          </div>
        </div> -->
        <div class="card-content btn-magnify">
          <div class="col-sm-12 ml-auto mr-auto" style="padding-bottom: -1em ">
            <div class="clrs-h1-font">
              <a><i class="nc-icon nc-globe-2"></i> Colours Enterprise</a>
            </div><br>
            <div class="text-left" style="padding-top: -1em; color: steelblue; ">
              <a>High Priority Enterprise Tasks</a>
            </div>
          </div>
          <div class="spacer" style="height: 1em;"></div>
          <div id="eTasklixt">
            <ol>
              <li style="color:steelblue">
                <!-- <div class="row"> -->
                  <div class="col-xs-10 " style="margin-left: 2em">
                    <a class="text-info" style="color:lightgrey">
                      Send Agenda
                    </a>
                  </div>
                <!-- </div> -->
              </li>
              <li  style="color:steelblue">
                <!-- <div class="row"> -->
                  <div class="col-xs-10" style="margin-left:2em">
                    <a class="text-info" href="#Respond_to_mail" style="color:lightgrey">
                      Respond to Mail
                    </a>
                  </div>
                <!-- </div> -->
              </li>
              <li style="color:steelblue">
                <!-- <div class="row"> -->
                  <div class="col-xs-10" style="margin-left:2em">
                    <a class="text-info" href="#Contact_Supplier" style="color:lightgrey">
                      Contact Supplier
                    </a>
                  </div>
                <!-- </div> -->
              </li>
              <li style="color:steelblue">
                <!-- <div class="row"> -->
                  <div class="col-xs-10" style="margin-left:2em">
                    <a class="text-info" href="#Aripo" style="color:lightgrey">
                      Aripo
                    </a>
                  </div>
                <!-- </div> -->
              </li>
            </ol>
          </div>
        </div>
        <br>
        <div class="card-body">
          <!--  -->
          <h6 class="big-title">total downloads in last 6 years</h6>
          <canvas id="activeCountries" width="826" height="380"></canvas>
        </div>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title">View more details</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-warning btn-round btn-icon btn-sm">
                  <i class="nc-icon nc-alert-circle-i"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-stats">
        <div class="card-body" style="padding-top: 0px;">
          <div class="row" style="height: 66px;">
            <div class="col-5 col-md-8">
              <div class="icon-big pull-left icon-warning" style="left:3em">
                <p><i class="fa fa-rss text-warning" style="font-size:24px">....</i>
                  <span style="font-size:22px">Colours Marketplace News Feeds</span></p>
              </div>
            </div>
            <div class="col-8 col-md-8">
              <div class="numbers">

              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card" data-background-color="blue">
          <marquee>
            <a *ngFor="let project of allColoursProjects | async" style="color:rgb(35, 41, 49)" routerLink="#">
              A project has been created, location: {{ project.location }}, type: {{ project.sector }}. . . . . . .
              <span class="spacer" style="widows: 10px;"></span></a> <!-  in {{project.sector}}  ->
          </marquee>
        </div> -->
        <div class="card" data-background-color="blue" *ngIf="projs2No != 0">
          <marquee>
            <a *ngFor="let project of marketProjects" style="color:rgb(35, 41, 49)" routerLink="#" [ngStyle]="{color: project.txtColours}" >
              A New Project Has Been Created. Location: {{ project.location }}. Sector: {{ project.sector }}. . . . . . . <span class="spacer" style="widows: 10px;"></span></a> <!--  in {{project.sector}}  -->
          </marquee>
        </div>
        <div class="card" data-background-color="blue" *ngIf="projs2No == 0">
          <marquee>
            <a  style="color:rgb(35, 41, 49)" routerLink="#">
              <i>Welcome to Colours Market place, this is where you will get all latest Colours Production News Feeds. . . . . . .</i> <span class="spacer" style="widows: 10px;"></span></a> <!--  in {{project.sector}}  -->
          </marquee>
        </div>
      </div>
    </div>
  </div>
</div>