<div class="main-content" *ngIf="afAuth.user | async as user">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="card col-lg-12">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <!-- <h3>Some Title Here</h3> -->
                <h5 class="title na-am">Search a Project<br><small>by filtering...</small></h5>
                <div class="card ">
                  <div class="card-body">
                    <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs sma na-p" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">Search
                              by Location</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">Sector</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="my-tab-content" class="tab-content text-center">
                      <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                        <div class="card-body ">
                          <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                              <form class="form-horizontal">
                                <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="searchData" name="location_input"
                                    placeholder="Enter location">
                                </div>
                              </form>
                            </div>
                            <div class="col-md-4 card-footer ">
                              <button type="submit" class="info btn-link" (click)="search('location', searchData);showTable()">Search</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">
                        <div class="card-body ">
                          <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                              <form class="form-horizontal">
                                <div class="form-group">
                                  <input type="text" [(ngModel)]="searchData" name="sector_input" class="form-control"
                                    placeholder="Input sector">
                                </div>
                              </form>
                            </div>
                            <div class="col-md-4 card-footer ">
                              <button type="submit" class="info btn-link" (click)="search('sector', searchData);showTable()">Search</button>                            
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="showSearch">
                <div class="col-sm-6">
                  <h5 class="title na-am" style="margin-left: 15px;">Project search results</h5>    
                  <div class="card-body ">
                    <p class="sma na-p">Projects in {{ searchData }} </p>
                    <div class="table-responsive cont scrol-em">
                      <table class="table">
                        <thead class="sma na-sma">
                          <th class="text-left">Project</th>
                          <th class="text-left">Sector</th>
                          <th class="text-left">Location</th>
                          <th>Action</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let project of selectedProjects | async ">
                            <td class="text-left tab-cell">{{ project.name }} </td>
                            <td class="text-left tab-cell">{{ project.sector }}</td>
                            <td class="text-left tab-cell">{{ project.location }}</td>
                            <td class="text-center">
                              <button class="success btn-link join" rel="tooltip" title="Connect to {{project.name}}"
                                (click)="selectPoject(project)" data-toggle="modal" data-target="#myModalNO">
                                <font size=2>Join </font>
                              </button>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="row" hidden>
        <div class="col-lg-12">
          <div class="card card-pricing ">
            <div class="card-header text-left">
              <h6 class="card-category"> All Companies</h6>
            </div>
            <div class="row">
              <!-- *ngIf="afAuth.user | async as user" -->
              <div class="col-lg-12">
                <div class="card-body ">
                  <code hidden>All Companies</code>
                  <div class="table-responsive pro_info">
                    <table class="table">
                      <thead>
                        <th class="text-left">Name</th>
                        <th class="text-left">Sector</th>
                        <th class="text-left">Location</th>
                        <!-- <th class="text-left">Participants</th> -->
                        <th>Action</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let enterprise of enterprises | async ">
                          <td class="text-left tab-cell">{{ enterprise.name }} </td> <!-- <br> {{enterprise.id}} -->
                          <td class="text-left tab-cell">{{ enterprise.sector }}</td>
                          <td class="text-left tab-cell">{{ enterprise.location }}</td>
                          <!-- <td  class="text-left tab-cell" ><span *ngFor="let participant of enterprise.participants" >{{ participant.name }} </span>
                        </td> -->
                          <td class="text-center">
                            <!-- {{ participant.name }} -->
                            <button class="success btn-link join" rel="tooltip" title="Connect to {{enterprise.name}}"
                              (click)="selectCompany(enterprise)" data-toggle="modal" data-target="#myModal">
                              <font size=2>connect </font>
                            </button>
                            <!-- s.id==closed.staffID or enterprise.byId !== userId  || myArrayList.includes(object.id) || userId !== enterprise.participants.id-->
                            <!-- <ng-template #showjoinbtn>
                            <button class="success btn-link join" rel="tooltip" title="Connect to {{enterprise.name}}" (click)="selectCompany(enterprise)" data-toggle="modal" data-target="#myModal">
                              <font size=2>connect </font>
                            </button>
                          </ng-template> -->
                        </tr>
                      </tbody>
                    </table>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                      aria-hidden="true">

                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header justify-content-center">
                            <div class="modal-profile ml-auto mr-auto text-warning">
                              <i class="nc-icon nc-bulb-63"></i>
                            </div>
                          </div>
                          <div class="modal-body">
                            <p>Cornfirm, you want to connect to <b class="primary-color">{{ (selectedCompany)?.name
                                }}</b></p>
                          </div>
                          <div class="modal-footer">
                            <div class="left-side">
                              <button type="button" class="btn btn-link btn-link" data-dismiss="modal">Close</button>
                            </div>
                            <div class="divider"></div>
                            <div class="right-side">
                              <button type="button" class="btn btn-link btn-link" (click)="connect2Enterprise(selectedCompany)"
                                data-dismiss="modal"> Confirm</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal99" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <p class="title-up">Select Company to Join {{ (projectToJoin)?.name }} project.<br>
      </div>
      <div class="modal-body">
        <span *ngIf="showme" class="card-category"> 1.  Company joining the Project :<b> {{selectedCompany.name}} </b><button class="btn-link" (click)="showEnterpriseTable()">change</button></span><br>
        <span *ngIf="showText" class="card-category"><button class="btn-link" (click)="hideText2()">2. Select Company Champion  for this Project</button></span>        
        <span *ngIf="showCompUser" class="card-category"> 2.  Company Project Champion :<b> {{selectedStaff.name}} </b><button class="btn-link" (click)="showUsersTable()">change</button></span>
        <span *ngIf="showRole" class="card-category">
          <div class="row">
            <label class="col-md-3 col-form-label">3. Roles</label>
            <div class="col-lg-5 col-md-6 col-sm-3">
              <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Select Role">
                <option disabled selected>Single Option</option>
                <option value="2">Project Manager</option>
                <option value="3">Civils</option>
                <option value="4">Quantity Survey</option>
                <option value="5">Plumbing</option>
                <option value="6">Land Scapping</option>
                <option value="7">Architecture</option>
              </select>
            </div>
          </div>
        </span>
        <div class="table-responsive cont scrol-em" *ngIf="show">
          <small>Select Company to Join the Project from the list</small>
          <table class="table">
            <thead class="card-category blue-clr">
              <th class="text-left">Company</th>
              <th class="text-center">Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let ent of enterprises | async ">
                <td class="text-left">{{ ent.name }} </td>
                <td class="text-center">
                  <a class="warning btn-link select" style="cursor:pointer" (click)="toggleName(); selectCompany(ent)">
                    <font size=2>Select</font>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="table-responsive cont scrol-em" *ngIf="showCompWorkers">
          <small>Select Company contact person from the company list of Employees</small>
          <table class="table">
            <thead class="card-category blue-clr">
              <th class="text-left">Company</th>
              <th class="text-center">Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let person of staff | async ">
                <td class="text-left">{{ person.name }} </td>
                <td class="text-center">
                  <a class="warning btn-link select" style="cursor:pointer" (click)="showUser(); selectStaff(person)">
                    <font size=2>Select</font>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-danger btn-link" (click)="sendRequest()" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalNO" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <p class="title-up clrs-h1">Select Company to Join {{ (projectToJoin)?.name }} project.<br>
      </div>
      <div class="card-body ">
        
        <form class="form-horizontal">
          <div class="row">
            <label class="col-md-4 col-form-label text-left" style="margin-left: 2em;">Company</label>
            <div class="col-md-7 col-lg-6 col-sm-5">
              <ng-select [items]="enterprises2nd | async" bindLabel="name" name="WorkAction" placeholder="Select company"
                (change)="selectCompany(ent)" [(ngModel)]="ent">
              </ng-select>
            </div>
          </div>
          <div class="row">
            <label class="col-md-4 col-form-label text-left" style="margin-left: 2em;">Champion</label>
            <div class="col-md-7 col-lg-6 col-sm-5">
              <ng-select [items]="staff | async" bindLabel="name" name="WorkAction" placeholder="Select champion"
                (change)="selectStaff(person)" [(ngModel)]="person">
              </ng-select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-danger btn-link" (click)="sendRequest()" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>