<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-10">
            <div class="card-header" *ngIf="afAuth.user | async as user" style=" margin-top: -2.5em;">
              <!-- <h4 class="card-category clrs-h1-font"> -->
              <h4 class="card-category clrs-h1-font"><!-- style="height: 28px; font-size: 8;" clrs-h4-font -->
                Hi : {{ user.displayName }}
                <!-- Hi {{ myData.name }} -->
              </h4>
            </div>
          </div>
          <div class="col-md-2">
            <!-- <button class="btn-link btn-magnify" (click)="Update()">Update</button> -->
            <button class="btn-link btn-magnify" (click)="update2()">Update</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="clrs-tabs">
              <div class="nav-tabs-navigation vertical-navs">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs flex-column nav-stacked text-left" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" href="#dash" role="tab" (click)="minimizeSidebar()" data-toggle="tab">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#standards" role="tab" (click)="minimizeSidebar()" data-toggle="tab">Standards</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#setup" (click)="minimizeSidebar()" role="tab" data-toggle="tab">Setup</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#planning" (click)="minimizeSidebar()" role="tab" data-toggle="tab">Planning</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#implem" (click)="minimizeSidebar()" role="tab" data-toggle="tab">Implementation</a>
                    </li>
                    <li class="nav-item">
                       <!-- Amended 19-June-19 By VJ Sibanda -->     
                       <a class="nav-link" (click)="minimizeSidebar()" routerLink="/personal-r" role="tab" data-toggle="tab">Reporting</a>
                      <!--a class="nav-link" href="#reports" (click)="minimizeSidebar()" role="tab" data-toggle="tab">Reporting</a>-->
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-colors" href="#popups" (click)="minimizeSidebar();" role="tab" data-toggle="tab">Diary</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 col-8 ml-auto mr-auto" style="padding-right: 0px;padding-left: 0px;"> <!--  dash-size  -->
              <div class="tab-content" style="padding-left:0px">
                <div class="tab-pane active" id="dash">
                  <div class="row">
                    <div class="col-xs-3 col-sm-4 dash-col-left">
                      <div class="card card-category">
                        <div class="btn-magnify">
                          <div class="row col-md-12" style="margin-left:1em; padding-bottom: -1em ">
                            <div class="pull-left card-category clrs-h1-font">
                              <a>
                                <i class="nc-icon nc-palette"></i> Colours Personal</a>
                            </div>
                          </div>
                          <div class="pull-left col-md-10" style="margin-left:1em;padding-top: -1em; color: steelblue ">
                            <a>My Diary Today</a>
                          </div>
                          <div class="spacer" style="height: 2.4em;"></div>
                          <div class="row" style="height: 100px" >
                            <div  id="container">
                              <!-- <div class="content container scroll-em" *ngIf="showActions"> -->
                              <!-- <div class="content container scroll-em" *ngIf="myActionItems.length != 0"> -->
                              <div class="content container scroll-em" *ngIf="actionNo !== 0">
                                <!-- <ol>
                                  <li class="" style="color:steelblue" *ngFor="let event of myActionItems">
                                      <div class="col-sm-12" style="margin-left: 2px; margin-right:-.5em">
                                        <a style="color:slategrey">
                                          {{ event.name }}<span class="label text-warning"> {{ event.when }}</span>
                                        </a>
                                      </div>
                                  </li>
                                </ol> -->
                                <ol style="list-style-type:none;padding-left: 12px;">
                                  <li class="" style="color:steelblue" *ngFor="let event of maActivities">
                                    <!-- <div class="row"> -->
                                    <div class="col-sm-12" style="margin-left: 2px; margin-right:-.5em">
                                      <!-- margin-left:1.0em; -->
                                      <a style="color:slategrey" [ngStyle]="{color: event.txtColours}">
                                        <span class="label text-warning"> {{ event.start }}</span> {{ event.name }}
                                      </a>
                                    </div>
                                    <!-- </div> -->
                                  </li>
                                </ol>
                              </div>
                              <!-- <div class="content container scroll-em" *ngIf="hideActions"> -->
                              <!-- <div class="content container scroll-em" *ngIf="myActionItems.length === 0"> -->
                              <div class="content container scroll-em" *ngIf="actionNo == 0">
                                <div class="row">
                                  <div class="col-sm-12" style="margin-left:-.5em; margin-right:-.5em">
                                    <ol>
                                      <li>
                                        <!-- <div class="row"> -->
                                          <a style="color:lightgrey">
                                            <span class="col-md-9 text-info">Meeting</span>
                                            <span class="col-md-3 mr-auto number text-warning"> 1000 hrs</span>
                                          </a>
                                        <!-- </div> -->
                                      </li>
                                      <li>
                                        <!-- <div class="row"> -->
                                            <a style="color:lightgrey">
                                              <span class="col-md-9 text-info">Email</span>
                                              <span class="col-md-3 mr-auto ml-auto number text-success">1230 Hrs</span>
                                            </a>
                                        <!-- </div> -->
                                      </li>
                                      <li>
                                        <!-- <div class="row"> -->
                                          <a style="color:lightgrey">
                                            <span class="col-md-9 text-info">Skype</span>
                                            <span class="col-md-3 mr-auto ml-auto label text-success"> 1400 Hrs </span>
                                          </a>
                                        <!-- </div> -->
                                      </li>
                                      <li>
                                        <!-- <div class="row "> -->
                                          <a style="color:lightgrey">
                                            <span class="col-md-9 text-info">Scheduling</span>
                                            <span class="col-lg-3 mr-auto ml-auto label text-success"> 0800 Hrs </span>
                                          </a>
                                        <!-- </div> -->
                                      </li>
                                    </ol>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="card-body">
                          <h6 class="big-title">total earnings in last ten quarters</h6>
                          <canvas id="activeUsers" width="auto" height="200"></canvas>
                        </div> -->
                        <div class="card-footer">
                          <hr>
                          <div class="row">
                            <div class="col-sm-7">
                              <div class="footer-title">View more.....</div>
                            </div>
                            <div class="col-sm-5">
                              <div class="pull-right">
                                <button class="btn btn-success btn-round btn-icon btn-sm">
                                  <i class="nc-icon nc-simple-add"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3 col-sm-4 dash-col">
                      <div class="card card-category">
                        <div class="btn-magnify">
                          <div class="row col-md-12" style="margin-left:1em; padding-bottom: -1em ">
                            <div class="pull-left card-category clrs-h1-font">
                              <a>
                                <i class="fa fa-folder-o [&#xf114;]"></i> Colours Project</a>
                            </div>
                          </div>
                          <!-- <hr class="line" style="padding-bottom:0em; padding-top: -1em"> -->
                          <!-- <div class="pull-left col-md-12 card-category" style="margin-left:2em;padding-top: -1em; color: steelblue; "> -->
                          <div class="pull-left col-md-12" style="margin-left:1em;padding-top: -1em; color: steelblue; ">
                            <a>My Current Priority Projects</a>
                          </div>
                          <div class="spacer" style="height:2.4em;"></div>
                          <div class="col-sm-10" id="pTasklist" style="height: 100px"><!--  style="margin-left: 2em" -->
                            <div class="content container scroll-em" *ngIf="showProjs">
                              <ol>
                                  <li class="col-xs-12 ml-auto mr-auto" style="color:steelblue" *ngFor="let project of myProjects | async"><a [routerLink]="[ '/projects/', project.id ]" style="color:slategray"><span class="text-info">{{ project.name }}</span></a>
                                  </li>
                              </ol>
                            </div>
                            <div class="content container scroll-em" *ngIf="hideProjs">
                              <div class="row">
                                <div class="col-sm-12" style="margin-left:-.5em; margin-right:-.5em">
                                  <ol>
                                    <li>
                                      <!-- <div class="row"> -->
                                        <a style="color:lightgrey">
                                          <span class="col-md-12 text-info">Project 1</span>
                                        </a>
                                      <!-- </div> -->
                                    </li>
                                    <li>
                                      <!-- <div class="row"> -->
                                        <a style="color:lightgrey">
                                          <span class="col-md-12 text-info">Project 2</span>
                                        </a>
                                      <!-- </div> -->
                                    </li>
                                    <li>
                                      <!-- <div class="row"> -->
                                        <a style="color:lightgrey">
                                          <span class="col-md-12 text-info">Project 3</span>
                                        </a>
                                      <!-- </div> -->
                                    </li>
                                    <li>
                                      <!-- <div class="row "> -->
                                        <a style="color:lightgrey">
                                          <span class="col-md-12 text-info">Project 4</span>
                                        </a>
                                      <!-- </div> -->
                                    </li>
                                  </ol>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="card-body">
                          <h6 class="big-title">total subscriptions in last 7 days</h6>
                          <canvas id="emailsCampaignChart" width="auto" height="200"></canvas>
                        </div> -->
                        <div class="card-footer">
                          <hr>
                          <div class="row">
                            <div class="col-sm-7">
                              <div class="footer-title">View more.....</div>
                            </div>
                            <div class="col-sm-5">
                              <div class="pull-right">
                                <button class="btn btn-danger btn-round btn-icon btn-sm">
                                  <i class="nc-icon nc-button-play"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3 col-sm-4 ml-auto mar-auto dash-col-right">
                      <div class="card card-category">
                        <div class="btn-magnify">
                          <div class="row col-md-12 col-xs-12" style="margin-left:2em; padding-bottom: -1em ">
                            <div class="pull-left card-category clrs-h1-font">
                              <a>
                                <i class="nc-icon nc-globe-2"></i> Colours Enterprise</a>
                            </div>
                          </div>
                          <!-- <hr class="line" style="padding-bottom:0em; padding-top: -1em"> -->
                          <div class="pull-left col-md-12" style="margin-left:2em;padding-top: -1em; color: steelblue; ">
                            <a>High Priority Enterprise Tasks</a>
                          </div>
                          <!-- <div class="numbers" style="margin-left:1em; color:rgb(15, 4, 4)">High Priority Enterprise Tasks</div> -->
                          <div class="spacer" style="height:2.4em;"></div>
                          <div id="eTasklixt" style="height: 100px">
                            <div class="content">
                              <ol>
                                <li>
                                  <!-- <div class="row"> -->
                                    <div class="col-xs-12" style="margin-left:4.0em">
                                      <a style="color:lightgrey" class="text-info">Planning
                                      </a>
                                    </div>
                                  <!-- </div> -->
                                </li>
                                <li>
                                  <!-- <div class="row"> -->
                                    <div class="col-xs-12" style="margin-left:4.0em">
                                      <a style="color:lightgrey" class="text-info">Business Case
                                      </a>
                                    </div>
                                  <!-- </div> -->
                                </li>
                                <li>
                                  <!-- <div class="row"> -->
                                    <div class="col-sm-12" style="margin-left:3.0em; margin-right:-1em">
                                      <a style="color:lightgrey" class="text-info">Design
                                      </a>
                                    </div>
                                  <!-- </div> -->
                                </li>
                                <li>
                                  <!-- <div class="row"> -->
                                    <div class="col-sm-12" style="margin-left:3.0em; margin-right:-1em">
                                      <a style="color:lightgrey; margin-bottom: 0px;" class="text-info">Implementation
                                      </a>
                                    </div>
                                  <!-- </div> -->
                                </li>
                              </ol>                             
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <hr>
                          <div class="row">
                            <div class="col-sm-7">
                              <div class="footer-title">View more.....</div>
                            </div>
                            <div class="col-sm-5">
                              <div class="pull-right">
                                <button class="btn btn-warning btn-round btn-icon btn-sm">
                                  <i class="nc-icon nc-alert-circle-i"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="standards">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="card-category title clrs-h1-font" style=" color:darkslategray">My Standards</p>
                      <div class="card-content table-responsive table-full-width">
                        <table class="table table-striped">
                          <thead>
                            <th>Name</th>
                            <th>Classification</th>
                            <th>Frequence</th>
                            <!-- <th></th> -->
                          </thead>
                          <tbody>
                            <tr *ngFor="let std of standards | async">
                              <td class="table td-clrs">{{ std.name }}</td>
                              <td class="table td-clrs">{{ std.classificationName }}</td>
                              <td class="table td-clrs">{{ std.period }}</td>
                              <!-- <td class="table td-clrs">
                                <button class="info btn-link" rel="tooltip" title="Add / Edit Time Budget" data-toggle="modal" data-target="#timeBudget"><i
                                    class="fa fa-calendar-plus-o"></i></button>
                              </td>
                              <td class="table td-clrs">
                                <button class="info btn-link" rel="tooltip" (click)="selectStd(std)" title="add Personal standards"
                                  data-toggle="modal" data-target="#personalStandard"><i class="fa fa-file-text"></i></button>
                              </td>
                              <td class="table td-clrs">
                                <button class="danger btn-link remove" (click)="deleteSTd(std)"><i class="fa fa-times"></i></button>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="setup">
                  <div class="col-md-12">
                    <!-- <div class="col-md-10 col-md-offset-1  "> -->
                      <div class="">
                        <p class="clrs-h1-font" style="margin-top:0em; color:darkslategray">Setup Your Personal Account...</p>
                        <p class="category" style="margin-top:-1em">Map out your main life activities.
                          <br>These are task classifications under which you do most of your life's daily activities</p>
                      </div>
                      <!-- <div class="spacer" style="margin-top:-3em"></div> -->
                      <div class="card-content table-responsive table-full-width">
                        <table class="table">
                          <p>My Tasks Classifications</p>
                          <tbody>
                            <tr *ngFor="let classification of classifications | async">
                              <td class="table td-clrs" *ngIf="classification.name != 'Work'">{{ classification.name }}</td>
                              <ng-container>
                                <td class="table td-clrs" *ngIf="classification.name === 'Work'"><a routerLink="/enterprises/create">Work</a></td>
                              </ng-container>
                              <td class="table td-clrs">
                                <!-- <a class="btn warning btn-link btn-icon btn-sm edit" rel="tooltip" title="Edit Classification"><i class="fa fa-edit"></i></a> -->
                                <!-- <button class="info btn-link" rel="tooltip" (click)="selectClassification(classification)" title="Add / Edit Time Budget" data-toggle="modal" data-target="#timeBudget"><i class="fa fa-calendar-plus-o"></i></button> -->
                                <button class="info btn-link" rel="tooltip" title="Click to enter your weekly time budget" data-toggle="modal" data-target="#timeBudget"><i class="fa fa-calendar-plus-o"></i></button>
                              </td>
                              <td class="table td-clrs">
                                <button class="info btn-link" rel="tooltip" (click)="selectClassification(classification)" title="Click to enter standards for this classification" data-toggle="modal" data-target="#personalStandard"><i class="fa fa-file-text"></i></button>
                              </td>
                              <td class="table td-clrs">
                                <button *ngIf="classification.name !== 'Work'" class="danger btn-link remove" (click)="deleteClass(classification)"><i class="fa fa-times"></i></button>
                              </td>
                            </tr>
                            <ng-container *ngIf="workdemo">
                              <tr style="width: inherit">
                                <td class="table td-clrs"><a routerLink="/enterprises/create">Work</a></td>
                                <td class="table td-clrs">
                                  <!-- <a class="btn warning btn-link btn-icon btn-sm edit" rel="tooltip" title="Edit Classification"><i class="fa fa-edit"></i></a> -->
                                  <button class="info btn-link" rel="tooltip" (click)="addWork();" title="Add / Edit Time Budget" data-toggle="modal" data-target="#timeBudget"><i class="fa fa-calendar-plus-o"></i></button>
                                </td><!--  selectClassification(classification) -->
                                <td class="table td-clrs">
                                  <button class="info btn-link" rel="tooltip" (click)="addWork();" title="add Personal standards" data-toggle="modal" data-target="#personalStandard"><i class="fa fa-file-text"></i></button>
                                </td><!--  selectClassification(classification) -->
                                <td class="table td-clrs">
                                  <!-- <button class="danger btn-link remove" (click)="deleteClass(classification)"><i class="fa fa-times"></i></button> -->
                                </td>
                              </tr>
                            </ng-container>
                            <br>
                            <div class="title col-sm-12 control-label">
                              <!--  column-sizing -->
                              <a class="title card-category" style="margin-top:0em; color:darkslategray">Add New Classification</a>
                            </div>
                            <tr>
                              <td class="td-size"><input name="classification_name" placeholder="Classification: e.g. Health"
                                  class="form-control" style="padding-left: 5px; padding-right: 5px;" [(ngModel)]="classification.name">
                              </td>
                              <td style="width: 1em; padding-left: 0px; padding-right: 0px; border-left-width: 0px;border-right-width: 0px;">
                                <button class="primary btn-link" (click)="addClass(classification)"><b>Add</b></button>
                              </td>
                              <td class="td-size"></td>
                              <td class="td-size"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
                <div class="tab-pane" id="planning">
                  <app-map-task></app-map-task>
                </div>
                <div class="tab-pane" id="implem">
                  <app-implementation></app-implementation>
                </div>
                <div class="tab-pane" id="reports">
                  <p class="clrs-h1-font" style="margin-top:0em; color:darkslategray">Personal Report...</p>

                  <div class="col-md-12">
                    <div class="card">
                      <!-- <div class="card-header">
                        <h5>Horizontal Tabs</h5>
                      </div> -->
                      <div class="card-body" style="margin-top: -3em">
                        <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-tabs" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#personal" role="tab" aria-expanded="true">Private</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#public" role="tab" aria-expanded="false">Public</a>
                              </li>
                              <!-- <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#company" role="tab" aria-expanded="false">Preferences</a>
                              </li> -->
                            </ul>
                          </div>
                        </div>
                        <div id="my-tab-content" class="tab-content text-center">
                          <!-- start Here -->
                          
                          <div class="tab-pane active" id="personal" role="tabpanel" aria-expanded="true">
                            <!-- <code>personal</code> -->

                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-12">
                                  <p class="text-left title card-category" style="color: darkslategray">
                                    Many other Reports and Metrics are coming up covering all corners of a project, an enterprise and personal life
                                  </p>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../PersonalWeeklyPlan-report">My Weekly Plan</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../PersonalDailyPlan-report">My Daily Plan</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../outstandingTask-report">Outstanding Tasks</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../timeSpent-report">Total time spent on an activity in a period</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          
                          
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../activity-reportLog">Time sheet report in a period</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          
                          
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../total-actions">My Time Sheet for each day</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          
                          

                            <!-- <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../classification-log">My Summarized Time Sheet as @</a></span>
                                  </p>
                                </div>
                              </div>
                            </div> -->
                          
                          
                          <div hidden>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">My Work Time Sheet as @</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">My Cumulative Time Sheet for Period
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">My Weekly Time Budget</p>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">Time Budget Actual vs
                                Planned</p>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">Tasks</p>
                              <!-- <br> -->
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">Health Factor</p>
                              <!-- <br> -->
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">Work Factor</p>
                              <!-- <br> -->
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left" style="color: darkslategray"><span class="title ">Net Worth</span>
                                (<small>As to date</small>)</p>
                              <!-- <br> -->
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">Schedule of Outstanding Personal Tasks
                              </p>
                              <!-- <br> -->
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">Personal Project Reports
                              </p>
                              <!-- <br> -->
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">User`s Enterprise Internal Reports</p>
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">Personal Internal Perfomance reviews</p>
                              <!-- <br> -->
                            </div>
                            <div class="col-md-12 ml-auto mr-auto">
                              <p class="text-left title " style="color: darkslategray">Profile Summary</p>
                              <!-- <br> -->
                            </div>
                          </div>
                          
                            
                          </div>


                          <div class="tab-pane" id="public" role="tabpanel" aria-expanded="true">

                            <!-- <code>public</code> -->
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-12">
                                  <p class="text-left title card-category" style="color: darkslategray">
                                    Many other Reports and Metrics are coming up covering all corners of a project, an enterprise and personal life
                                  </p>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../PersonalWeeklyPlan-report">My Weekly Plan</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../PersonalDailyPlan-report">My Daily Plan</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../outstandingTask-report">Outstanding Tasks</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../timeSpent-report">Total time spent on an activity in a period</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          
                          
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../activity-reportLog">Time sheet report in a period</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          
                          
                            <div class="col-md-12 ml-auto mr-auto">
                              <div class="row">
                                <div class="col-md-6">
                                  <p class="text-left title " style="color: darkslategray">
                                    <span> <a routerLink="../../total-actions">My Time Sheet for each day</a></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          
                          
                          
                            <div hidden>
                              <div class="col-md-12 ml-auto mr-auto">
                                <div class="row">
                                  <div class="col-md-6">
                                    <p class="text-left title " style="color: darkslategray">My Work Time Sheet as @</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <div class="row">
                                  <div class="col-md-6">
                                    <p class="text-left title " style="color: darkslategray">My Cumulative Time Sheet for Period
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">My Weekly Time Budget</p>
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">Time Budget Actual vs
                                  Planned</p>
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">Tasks</p>
                                <!-- <br> -->
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">Health Factor</p>
                                <!-- <br> -->
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">Work Factor</p>
                                <!-- <br> -->
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left" style="color: darkslategray"><span class="title ">Net Worth</span>
                                  (<small>As to date</small>)</p>
                                <!-- <br> -->
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">Schedule of Outstanding Personal Tasks
                                </p>
                                <!-- <br> -->
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">Personal Project Reports
                                </p>
                                <!-- <br> -->
                              </div>Total time spent on an activity in a period
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">User`s Enterprise Internal Reports</p>
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">Personal Internal Perfomance reviews</p>
                                <!-- <br> -->
                              </div>
                              <div class="col-md-12 ml-auto mr-auto">
                                <p class="text-left title " style="color: darkslategray">Profile Summary</p>
                                <!-- <br> -->
                              </div>
                            </div>
                          
                          
                          </div>
                          
                          
                          
                          
                          
                          <!-- End Here -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="popups">
                  <app-timesheet></app-timesheet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="timeBudget" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <!-- <div class="modal-dialog modal-lg"> -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <!-- <code>Time Budget</code> -->
        <!-- <form> -->
          <div class="card-header ">
            <p class="title clrs-h1-font">Time Budget</p>
            <p class="category">Add or Edit the classifications Time</p>
          </div>
          <div class="card-body ">
            <div class="form-group">
              <label class="control-label" for="">Plan Classifications Time in Hours
                <span class="star">*</span>
              </label>

              <table class="table">
                <thead class="title clrs-h4 text-info">
                  <th class="text-left">Classification</th>
                  <th class="text-left">Frequence
                    <!-- <small> (Hrs)</small> -->
                  </th>
                  <th>action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of classificationsToDate | async">                    
                    <td class="text-left table td-clrs">{{ item.name }}</td>
                    <td class="table text-center td-clrs">
                      <input type="number" class="form-control text-right" [(ngModel)]="item.plannedTime" required (focus)="focus1=true"
                        style="padding-top: 0px;padding-bottom: 0px; height: 32px; width: 6em" placeholder="Add Time" (blur)="focus1=false">
                    </td>
                    <td class="table td-clrs">
                      <button class="danger btn-link remove" (click)="addTimeBudget(item)"><i class="fa fa-check"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left table td-clrs title clrs-h4" style="color: darkslategray;border-bottom-style: double; border-top-color: black;border-bottom-color: black;">Totals</td>
                    <td class="text-center table td-clrs" style="border-bottom-style: double; padding-right:3em; border-top-color:black; border-bottom-color:black">{{ totalPlannedTime }}</td>
                    <td></td>
                  </tr>
                  <!-- <hr> -->
                  <!-- <tr>
                    <td style="padding-right:4em; border-top-color:black; border-bottom-color:black"></td>
                    <td style="padding-right:4em; border-top-color:black; border-bottom-color:black"></td>
                  </tr> -->
                </tbody>
              </table>
              
                  <div style="width:fit-content category">
                    <small>Totals shouldn't exceed total week hours (168 hrs)</small>
                  </div>
            </div>
          </div>
          <div class="card-footer text-right">
            <button (click)="dismissTimeBudgdet()" data-dismiss="modal" class="btn btn-warning">Dismiss</button>
            <button (click)="dismissTimeBudgdet()" data-dismiss="modal" class="btn btn-primary">Save</button>
            <!-- <button (click)="addTimeBudget(time)" data-dismiss="modal" class="btn btn-primary">Save</button> -->
          </div>
        <!-- </form> -->



        <!-- <div class="modal-footer" style="margin-bottom:0%">
          <div class="left-side">
            <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Close</button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="button" class="btn btn-success btn-link" data-dismiss="modal" title="save action">Enter</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="personalStandard" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body ">
        <!-- <code>Personal Standards</code> -->
          <form >
            <div class="card-header ">
              <h4 class="title clrs-h1-font">Classification: {{ selectedClassification.name }}</h4>
              <p class="title na-p">Add Personal Standards</p>
              
            </div>
            <div class="card-body ">
              <div class="form-group">
                <label class="control-label" for="">Name:
                  <span class="star">*</span>
                </label>
                <input type="text" class="form-control" name="sName" [(ngModel)]="newStandard.name" required>
              </div>
              <div class="form-group">
                <label for="" class="control-label">Frequence
                  <span class="star">*</span>
                </label>
                <ng-select [items]="stdPeriods" bindLabel="name" name="sPeriod" placeholder="Select Frequence"
                  [(ngModel)]="selectedPeriod"></ng-select>
              </div>
              <div class="category"> <span class="star">*</span> Required fields</div>
              <div class="form-group">
                <label for="" class="control-label">Units
                  <span class="star">*</span>
                </label>
                <ng-select [items]="SIunits" bindLabel="name" name="jyu" placeholder="Select unit of Measure"
                  [(ngModel)]="setUnit">
                </ng-select>
              </div>
              <div class="category"> <span class="star">*</span> Required fields</div>
              
            </div>
            <div class="footer text-center pull-right">
              <button (click)="addPersonalStandards()" data-dismiss="modal" class="btn btn-primary">Add</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myAssets" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <h4 class="title clrs-h1-font title-up">Assets</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="row">
            <h4 class=" clrs-h4"> Current Assets</h4>
          </div>
          <div class="row">
            <a class="btn-link col" *ngFor="let item of (userData)?.personalAssets" (click)="removeAsset(item)">{{ item.name }}  
              <small><i class="nc-icon nc-sm nc-simple-remove"></i></small>
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <h4 class=" clrs-h4"> Add new assets</h4>
          </div>
          <!-- <form action=""> -->
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="City" placeholder="Cluster" [(ngModel)]="asset.name">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Value</label>
                  <div class="input-group">
                    <div class="input-group-prepand" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                      <span class="input-group-text"><small>$</small>
                      </span>
                    </div>
                    <input type="number" class="form-control" style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="10000" placeholder="185000" [(ngModel)]="asset.value">
                  </div>
                </div>
              </div>
              <div class="col-md-2 pl-1">
                <div class="form-group" style="margin-top:28px">
                  <button *ngIf="editRpt" class="btn-link btn-magnify" (click)="addAsset(asset)">Save</button>
                </div>
              </div>
            </div>
          <!-- </form> -->
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Dismiss</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success btn-link">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myLiabilities" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <h4 class="title clrs-h1-font title-up">Liabilities</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="row">
            <h4 class=" clrs-h4"> Current Liabilities</h4>
          </div>
          <div class="row">
            <a class="btn-link col" *ngFor="let item of (userData)?.personalLiabilities" (click)="removeLiability(item)">{{ item.name }}  
              <small><i class="nc-icon nc-sm nc-simple-remove"></i></small>
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <h4 class=" clrs-h4"> Add new Liabilities</h4>
          </div>
          <form action="">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="liabilityName" placeholder="Warehouse" [(ngModel)]="liability.name">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>amount</label>
                  <div class="input-group">
                    <div class="input-group-prepand" style="padding-top: 0px;padding-bottom: 0px; height: 32px;">
                      <span class="input-group-text"><small>$</small>
                      </span>
                    </div>
                    <input type="number" class="form-control" style="padding-top: 0px;padding-bottom: 0px; height: 32px;" name="liabilityAmount" placeholder="2000" [(ngModel)]="liability.amount">
                  </div>
                </div>
              </div>
              <div class="col-md-2 pl-1">
                <div class="form-group" style="margin-top:28px">
                  <button *ngIf="editRpt" class="btn-link btn-magnify" (click)="addLiability()">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="left-side">
          <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Dismiss</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
          <button type="button" class="btn btn-success btn-link">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>